Source: tei-p5-test
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@it.ox.ac.uk>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-p5-test
Architecture: all
Depends: 
Description: Text Encoding Initiative Test files
      Test suite for TEI P5
