<plugin>
	<extension plugin-id="pl.psnc.dl.ege.root" point-id="XslConverter" id="TEItoVerbatimxmlconverter">
		<parameter id="class" value="pl.psnc.dl.ege.MultiXslConverter"/>
		<parameter id="name" value="TEI to VerbatimXML"/>
		<parameter id="xsluri" value="verbatimxml/teitoverbatim.xsl" />
		<parameter id="iMimeType" value="text/xml" />
		<parameter id="iFormat" value="TEI" />
		<parameter id="iDescription" value="TEI P5 XML Document" />
		<parameter id="iType" value="text" />		
		<parameter id="oMimeType" value="text/xml" />
		<parameter id="oFormat" value="verbatimxml" />
		<parameter id="oDescription" value="VerbatimXML tagging" />		
		<parameter id="oType" value="text" />
		<parameter id="visibility" value="true" />
		<parameter id="cost" value="11" />
	</extension>
</plugin>
