**.processed
detest.*
!detest.odd
!detest.xml

tei.xsd
testall*
!testall.odd
!testall.xml

testbare.*
!testbare.odd
!testbare.xml

testbasic*
!testbasic.odd
!testbasic.xml

testjustfs*
!testjustfs.odd
!testjustfs.xml

testp4compat*
!testp4compat.odd
!testp4compat.xml

testplace-kml*
!testplace-kml.odd
!testplace-kml.xml

testplus.*
!testplus.odd
!testplus.xml

xml.xsd
