<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Runs a script which checks links on the Guidelines HTML output from TEIP5.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.advancedqueue.AdvancedQueueSorterJobProperty plugin="PrioritySorter@2.6">
      <useJobPriority>false</useJobPriority>
      <priority>-1</priority>
    </jenkins.advancedqueue.AdvancedQueueSorterJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>VERSIONFILE=$JENKINS_HOME/jobs/TEIP5/workspace/VERSION
VERSION=`cat ${VERSIONFILE}` 
TARGET=$JENKINS_HOME/jobs/TEIP5/lastSuccessful/archive/release/doc/tei-p5-doc/en/html/index.html


echo &quot;Running link checking for P5 version $VERSION.&quot;

if [[ $VERSION =~ [a-z]+$ ]]; then
	echo &quot;Using configuration for pre-release version.&quot;
	linkchecker --config=$JENKINS_HOME/jobs/Guidelines-Link-Check/linkcheckerrcalphabeta $TARGET
	
else
	echo &quot;Using configuration for release version.&quot;
	linkchecker --config=$JENKINS_HOME/jobs/Guidelines-Link-Check/linkcheckerrcrelease $TARGET
fi

echo &quot;Transforming checker report...&quot;
saxon -s:checkResults/linkchecker-out.xml -xsl:$JENKINS_HOME/jobs/Guidelines-Link-Check/linkchecker.xsl
echo &quot;Done!&quot;
exit</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <parsingRulesPath>/var/lib/jenkins/hudson-log-parse-rules</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
  </publishers>
  <buildWrappers/>
</project>