Source: tei-p5-database
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@it.ox.ac.uk>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-p5-database
Architecture: all
Pre-Depends: tei-p5-source
Depends:  
Description: Text Encoding Initiative Guidelines web-service database
 Documentation for TEI P5 in an eXist database, with XQuery scripts
