Source: tei-p5-exemplars
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@it.ox.ac.uk>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-p5-exemplars
Architecture: all
Depends: 
Conflicts: tei-p5-lite
Description: Text Encoding Initiative, exemplar customizations
      Customizations and skeleton documents for TEI
