<fLib n="Feature Structures" xmlns="http://www.tei-c.org/ns/1.0">
  <f name="xxx">A feature may have untyped content</f>
  <f name="yyy"><string>or typed</string></f>
  <f name="notgood"><string>multiple types</string>
  <symbol value="doubleplusungood"/>
  </f>
  <f name="alsonotgood">mixed content
  <symbol value="doubleplusungood"/>
  </f>
</fLib>
