<plugin>
	<extension plugin-id="pl.psnc.dl.ege.root" point-id="XslConverter" id="ODDCtoISOSCHconverter">
		<parameter id="class" value="pl.psnc.dl.ege.MultiXslConverter"/>
		<parameter id="name" value="ODDC to ISO Schematron"/>
		<parameter id="xsluri" value="profiles/default/isosch/to.xsl" />
		<parameter id="iMimeType" value="text/xml" />
		<parameter id="iFormat" value="ODDC" />
		<parameter id="iDescription" value="Compiled TEI ODD Document" />
		<parameter id="iType" value="text" />		
		<parameter id="oMimeType" value="text/xml" />
		<parameter id="oFormat" value="isosch" />
		<parameter id="oDescription" value="ISO Schematron constraints" />		
		<parameter id="oType" value="text" />
		<parameter id="visibility" value="true" />
		<parameter id="cost" value="11" />
	</extension>
</plugin>
