Source: tei-p5-xslprofiles
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@it.ox.ac.uk>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-p5-xslprofiles
Architecture: all
Description: Text Encoding Initiative XSLT stylesheets profiles
 Customizations for various projects
