#!/usr/bin/make -f
export DH_COMPAT=5

DESTDIR = $(CURDIR)/debian/tei-p5-exemplars/usr

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	install -d $(DESTDIR)
	(cd ..; make PREFIX=$(DESTDIR) XSL=$(XSL) install-exemplars)

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
#	dh_installexamples 
#	dh_installinit
#	dh_installcron
	dh_installchangelogs 
	dh_compress --exclude=.xml --exclude=.html --exclude=.odd
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
