.DS_Store

P5/DTD/*
P5/Exemplars/*~
P5/Exemplars/*-teix*
P5/Exemplars/*.compiled
P5/Exemplars/*.doc
P5/Exemplars/*.dtd
P5/Exemplars/*.epub
P5/Exemplars/*.html
P5/Exemplars/*.isosch
P5/Exemplars/*.nvdl
!P5/Exemplars/tei_lite_fr.nvdl
P5/Exemplars/*.pdf
P5/Exemplars/*.processed
P5/Exemplars/*.rnc
P5/Exemplars/*.rng
P5/Exemplars/*.xi
P5/Exemplars/*.xml
P5/Exemplars/*.xsd
P5/Exemplars/*.xsl
P5/Exemplars/tei_customization.odd
P5/Guidelines-web/*
P5/Schema/*
P5/Utilities/guidelines.xsl

P5subset*
*.stamp

p5.isosch*
p5.xml
p5attlist.txt

p5odds-examples.rn*
p5odds.isosch*
p5odds.rn*
p5odds.mess*

p5examples*
stripspace*
