/* 

** Copyright 2007 TEI Consortium

$Id$

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.
This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
 You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the 
Free Software Foundation, Inc., 
59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

** As currently configured, the TEI website server dynamically transforms
** XML files into HTML, putting in a link to this stylesheet.

*/

/* main layout */
    
#col1 {
   width: 20%;
   background: #ffffff;
   margin: 0px;
   margin-top: 10px;
   color: #000066;
   padding: 5px;
   position: absolute;
   float: left;
/*   border-style: solid;
   border-width: 1px;
   border-color: red;
*/
}
   
#col2 {
   background: #ffffff;
   color: #333333;
/*
   border-style: solid;
   border-width: 1px;
   border-color: black;
*/
   margin: 0px;
   margin-top: 10px;
   padding: 5px;
   left: 22%;
   width: 51%;
   position: absolute
}
   
#col3 {
   width: 24%;
   left: 75%;
   color: #000066;
   background: #ffffff;
/*
   border-style: solid;
   border-width: 1px;
   border-color: red;
*/
   margin: 0px;
   margin-top: 10px;
   padding: 5px;
   position: absolute;
   float: right
}
   
#lh-col {
   color: black;
   margin-right: 10pt;
   margin-top: 0pt;
   padding-left: 5px;
   padding-right: 5px;
   background-color: #ffffff;
   font-weight:normal;
}
   
#rh-col {
   background-color: #ffffff;
   color: #333333;
   margin: 2pt;
   padding: 5px;
   font-weight:normal;
}
   
.bannerright {
   position: absolute;
   right: 5px;
   color: black;
   font-size: 0.8em;
   font-weight: bold;
   text-decoration: none
}
   
body{
   color: #000000;
   background-color: #FFFFFF;
   margin-left: 1em;
   margin-right: 1em;
   padding:0;
   font-family:  Arial,Helvetica,sans-serif;
}

/* tables for reference display */
table.wovenodd {
/* width: 75%; */
table-layout: fixed; 
float:left;
}
td.wovenodd-col1 {
width:15%;
   vertical-align: top;
}
td.wovenodd-col2 {
width:85%;
}

table.attList {
 table-layout: fixed	;
 width: 100%;
 margin: 0pt;
 padding: 0pt;
}
td.odd_label {
   vertical-align: top;	
   width: 15%;
   font-weight: bold;
}
td.odd_value {
   vertical-align: top;	
   width: 85%;
}

table.attDef {
 table-layout: fixed	;
 width: 100%;
}
table.attDef td.odd_value {
   vertical-align: top;	
   width: 90%;
}
table.attDef td.odd_label {
  width: 10%;
  vertical-align: top;	
  font-style: italic;
  font-weight: normal;
}

table.valList {
 table-layout: fixed	;
 width: 100%;
}
table.valList td.odd_label {
  width: 10%;
  vertical-align: top;
  font-style: normal;
  font-weight: normal;
}
table.valList td.odd_value {
   vertical-align: top;	
   width: 90%;
}

table.specDesc td.Attribute {
  font-weight: bold;
   vertical-align: top;	
}

table.specDesc {
 margin-left: 1em;
}
td p { 
   margin-top: 0pt;
   margin-bottom: 2pt;
   }

   
#accessibility {
}
#hdr {
   width: auto;
   margin: 0px;
   padding-top: 5pt;
   padding-bottom: 5pt;
   border: 0px;
   color: yellow;
   background: url("TEI-glow.png");
   background-repeat: no-repeat;
   overflow: inherit
}
   
   
   /*navigation bar*/
#hdr2 {
   width: auto;
 /*  background-color: #0082EF; */
background-color: #223377; 
height:2px;
   /*font-weight: bold;
   padding-left: 15px;
   padding-bottom: 2px;
   padding-top: 2px;
   padding-right: 5px;
   font-size: smaller;
   border-top: solid black 1pt;
   border-bottom: solid black 1pt  */
}
   
   /*breadcrumbs*/
#hdr3 {
   border-bottom: solid green 2pt;
   color: black;
   background-color: white;
   padding-left: 5px;
   padding-bottom: 2px;
   padding-top: 2px;
   padding-right: 5px;
   font-weight: bold;
   font-size: smaller
}
   
   
   /*headings*/
h1 {
   font-weight: bold;
   font-size: x-large;
   color: #223377;
   clear:left;
}
   
   
h2 {
   font-size: 16pt;
   margin-top: 20pt;
   font-weight: bold;
   color: #223377;

}
   
h3 {
   font-size: larger;
   color: #223377;
   font-weight: bold;
   font-style: italic;

}
  
h4,h5,h6 {
   font-size: 100%;
   color: #223377;
   
   } 
   
h1.maintitle {
   color: #223377;
   margin-left: 100px;
   font-weight: bold;
   margin-bottom: 5px
}

h1.title {
   margin-left: 100px;
   color: #223377;
   font-weight: bold;
   bottom: 5px;
}
   
h2.subtitle {
   color: #222E44;
   margin-bottom: 15px;
   margin-left: 100px;
   font-weight: bold
   
}
.skiplinks {
   color: black;
   font-weight: bold;
   font-size: 0.8em;
   text-decoration: none;
   padding-right: 15px
}
a.skiplinks {
   color: black;
   font-weight: bold;
   font-size: 0.8em;
   text-decoration: none;
   padding-right: 15px
}
   
.footer {
   text-align: center;
   font-size: 0.8em
}
   
.hide {
   display: none
}
   
.tocontent {
   color: #000066;
   display: none
}
   
.framestdlink {
   color: red;
   font-size: smaller;
   font-weight: bold
}
   
   /*linking of all kinds*/
   
div.breadcrumb { 
   display: inline;
}

a.breadcrumb {
   color: black;
   text-decoration: none;
   padding-right: 5px
}
   
ul.breadcrumb {
   display: inline;
   font-size: 1.1em
}
   
li.breadcrumb  {
   padding-left: 12px;
   padding-right: 5px;
   display: inline;
   color: #000;
   background: url("rightarrow.gif");
   background-repeat: no-repeat;
   background-position: left
}
   
li.breadcrumb-first  {
   padding-left: 12px;
   padding-right: 5px;
   display: inline;
   color: #000;
   background: url("rightarrow.gif");
   background-repeat: no-repeat;
   background-position: left
}
   
   
a.framestdlink {
   font-size: small;
   font-weight: bold;
   text-decoration: none;
}
   
   
a:hover {
   text-decoration: underline
}
   
   
a.navbar:link {
   color: white;
   text-decoration: none
}
   
a.navbar:visited {
   color: white;
   text-decoration: none
}
   
a.navbar:hover {
   color: white;
   text-decoration: underline
}
   
   a.inlinetoc:link,
a.inlinetoc:visited {
   color: #7a7a7a;
   font-size: smaller;
   text-decoration: none
}
   
a.inlinetoc:hover {
   color: #7a7a7a;
   font-size: smaller;
   text-decoration: underline
}
   
a.inlinetoc-this:visited,a.inlinetoc-this:link {
   font-size: smaller;
   color: black;
   font-weight: bold;
   text-decoration: underline
}
   
a.inlinetoc-sub:visited,a.inlinetoc-sub:link {
   text-decoration: none;
   color: black;
   font-weight: normal;
   font-size: smaller
}
   
/*misc*/

.plain {
   font-weight: bold;
   text-decoration: none;
}

p.box {
   border: 1pt solid #000000;
}

 
.small {
   font-size: 8pt;
   color: #9F9F9F
}
   

   
div.inlinteoc {
 color: #7a7a7a;
 text-align: center;
 margin-top: 10pt;
 padding-right: 16pt;
 padding-left: 16pt
}

div.cdata{
 white-space: pre;
clear:both;
}

pre,div.pre,div.pre_eg,pre.eg,div.eg {
 font-family: monospace ;
 padding: 4pt;
 border: 1px solid black;
 background-color: #ffffe9;  
 margin-bottom: 4pt;
 margin-top: 4pt;
clear:both;
}

span.tag:before { content: "<"; }
span.tag:after { content: ">"; }

span.gi,span.tag {
	 font-family: monospace; 
         font-weight:bold;
         font-size: 120%;
}
span.gi:before { content: "<"; }
span.gi:after { content: ">"; }

span.att { 
	 font-weight:bold;
	 font-family: monospace; 
	 font-size:120%;
}
span.att:before { content: "@"; }

/* toc */

div.toggleTOC_summary div.toc_front {float:right;}
div.toggleTOC_summary div.toc_body { float:left;}
div.toggleTOC_summary div.toc_back {float: right;}

li.toc {
  list-style: none;
}

a.toc_0 {
  font-weight: bold; 
}

div.toclist0 {
   margin-left: 0.5em; 
   margin-top: 1pt; 
   margin-bottom: 3pt; 
   text-indent: -0.5em;
   font-size: small;    
}
div.toclist0 a.toclist { color: gray ; }
div.toclist0 a.toclist:hover { color: black ; }

div.toclist1 {
   margin-left: 1em; 
   margin-top: 1pt; 
   margin-bottom: 2pt; 
   text-indent: -0.7em;
   font-size: small;    
}

div.toclist2 {
   margin-left: 1.5em; 
   text-indent: -1em;
   font-size: small;    
}

div.toclist3 {
   margin-left: 2em; 
   text-indent: -1.5em;
   font-size: small;    
}

span.toclist-this {
       color: black; 
       font-weight: bold 
}

a.toclist:visited,a.toclist:link
{
   font-weight: bold; 
   color: #000000;
   text-decoration: none;
}




/* notes */
div.noteHeading {
   margin-top: 9pt;
   border: 0;
   border-top: 1pt;
   border-style: solid;
   padding-top: 6pt;
   font-size: larger;
   font-weight: bold;
}
div.noteBody {
  display:inline;
}


div.note {
   margin-left: 1em; 
   margin-bottom: 2pt; 
   text-indent: -1em;
}

div.note ul {
   margin-left: 1em; 
   margin-bottom: 2pt; 
   text-indent: 0.5em;
}

/* images */
img.display {
   margin-top: 10pt;
   margin-bottom: 10pt;
   display: block;
}
p.caption {
   font-style: italic;
}

.floatimage {
   float : left;
   margin-right : 6px;
   vertical-align : top;
}
/* specialized divs */
div.letter {
   margin-left: 2em;
   margin-right: 2em;
   margin-top: 6pt;
   margin-bottom: 6pt;
   border-top: 1pt solid green;
   border-bottom: 1pt solid green;
}
/* title page */
div.titlePage {
   padding: 2px;
   margin: 2px;
   font-size: 120%;
   background-color: lightgray;
   text-align: center;
}
div.docImprint {
   font-style: italic;    
}
div.docDate {
   font-style: italic;    
}
div.docTitle {
    font-weight: bold;
}
div.docAuthor {
    font-style: italic;
}

div.byline {
}   

div.dateline{
   text-align: right;
}
div.centerbold {
    text-align:center;
    padding: 10pt;
    font-weight: bold;
}
div.center {
    text-align:center;
}
div.right {
    text-align:right;
}
div.left {
    text-align:left;
}
p.center {
    text-align:center;
}
p.right {
    text-align:right;
}
p.left {
    text-align:left;
}
div.indent1 {
   margin-left: 1em;
}
div.indent2 {
   margin-left: 2em;
}
div.indent3 {
   margin-left: 3em;
}
div.indent4 {
   margin-left: 4em;
}
div.indent5 {
   margin-left: 5em;
}
div.indent6 {
   margin-left: 6em;
}

/* table label row */
td.label {
   font-weight: bold;
   background-color: #AAAAAA;
}
span.label {
 font-weight: bold;
}
   
tr.label td {
   font-weight: bold;
   background-color: #AAAAAA;
}

div.tocFront {
   border-bottom: 1pt solid #000000;
}
div.tocBack {
   border-bottom: 1pt solid #000000;
}
div.tocBody {
   border-bottom: 1pt solid #000000;
}
/* a <bibl> inside a <cit> */
div.citbibl {
   text-align:right;
   font-size: smaller;
}
/* a <quote> inside a <cit> */
div.citquote {
}

/* normal gloss lists have bold labels */
dt {
   font-weight: bold;
}
div.blockquote {
   margin: 10pt;
}

span.gloss {
   font-style: italic;
}
span.mentioned {
   font-style: italic;
}
span.foreign {
   font-style: italic;
}

button.displayRelax {
 margin-right: 2px;
 margin-top: 2px;
 font-size: 70%;
 /* border: solid grey 1pt;
 background-color: lightgrey;
 color: white;*/
 float: right;
 cursor: pointer;	
}

a.link_return:link,a.link_return:visited {
 font-weight: bold;
 text-decoration: none; 
 color: red;
}


/* pretty printing of XML */

td.classSpec, td.macroSpec {
 font-weight: bold;
}
a.link_odd_element:link,a.link_odd_element:visited {
 color: #006400;
}
a.link_odd_macro:link,a.link_odd_macro:visited {
 font-style:italic;
}
a.link_odd_class:link,a.link_odd_class:visited {
 font-style:italic;
}
span.element {
 font-weight: bold;
 color: black;
}

td.elementSpec,span.elementname {
 font-weight: bold;
 color: #006400;
}

span.attribute {
    color: #600;
}
span.attributevalue {
    color: black;
}
span.comment {
    color: black;
    font-style:italic;
}
span.namespace {
    color: #228B22;
}

/* pretty print rnc */

span.rnc_nc { 
 color: #006400;
}
span.rnc_decl {
  color: green;
}
span.rnc_prefix {
  color: blue;
}
span.rnc_param {
  color: gray;
}
span.rnc_atom {
  color: yellow;
}
span.rnc_annot {
  color: orange;
}
span.rnc_comment {
  color: magenta;
}
span.rnc_annot {
  color: cyan;
}
span.rnc_type {
  color: purple;
}
span.rnc_keyword {
  color: teal;
}
span.defaultVal {
  font-weight: bold;
}
span.permalink {
  display:inline;
}
a.permalink {
   text-decoration:none; 
   font-weight:normal; 
   color:#DDDDDD; 
   font-size:70%;
}
a.permalink:hover {
   text-decoration:none; 
   font-weight:normal;
   color:#777777; 
   font-size:70%;
}

ul.subtoc {
  padding-left: 1em;
}

hr {clear:both;}

table.miniTOC {
 margin-left:1%;
 margin-top:1%;
 margin-bottom:1%;
 float:right; 
 background-color: #eef;
 border: 1px dotted #040;
 font-size: 70%;
 width: 20%;
 padding: 1%;
 clear: right;

}

span.icon {
 font-style: normal;
 font-weight: bold;
 font-size: large;
}
sup {
  vertical-align: top;
  font-size: 70%;
}

div.moduleSpec {
   padding: 1px;
   margin: 1px;
   background-color: lightgray;
   clear:right;
}

span.moduleSpecHead {
   font-style: italic;
}

ul.specList li {
 list-style: none;
}
.specList-macroSpec {
 font-weight: bold; 
}
.specList-elementSpec {
 font-weight: bold; 
}
.specList-elementSpec:before { content: "<"; }
.specList-elementSpec:after { content: ">"; }
.specList-classSpec {
 font-weight: bold; 
}

span.specName { 
   color: #223377;
 font-weight: bold;
}

/* paragraphs */
p, div.p {
 margin-top: 0.3em;
}
span.math {
 font-style: italic;
}

code {font-weight:bold; font-size:120%;}

a.navigation:hover{color:#060;}
a.UP:hover{color:#060; }
span.previousLink{font-size:150%;}
span.nextLink{font-size:150%;}
span.upLink{font-size:150%;}
span.upLink a {font-size:80%;}
span.subtochead{font-weight:bold;}
table.miniTOC tbody tr td p {margin-top:10%;}
ul.subtoc {
  padding-left: 0.70em;
  margin-top: 0.25ex;
  color:#600;
}
ul.subtoc li {padding:0.70em;}
h1.title a {text-decoration:none;color: #223377;}
h1.title a:visited {text-decoration:none;color: #223377;}

address {font-size:80%;}
table.wovenodd tr td {border: 1px solid #555;padding:1%;}
table.wovenodd {border-spacing:0px; border-collapse:collapse;}
table.wovenodd tr td {border-spacing:0px;}
table.wovenodd tr {border-spacing:0px;border-collapse:collapse;} 
table.wovenodd tr td  table.attList {border-spacing:0px;border:none;}
table.wovenodd tr td table.attList tr {border-spacing:0px;border:none;}
table.wovenodd tr td table.attList tr td {border-spacing:0px;border:none;}
span.val:before { content: "'"; }
span.val:after { content: "'"; }


/* A -Z Styles From http://www.smileycat.com/miaow/archives/000211.php -styling the a to z*/
#azindex {	background-color: #ddd;
	display: block;
	float: left;
	margin: 5px 0 20px 5px;
	padding: 0px 0px 15px 0px;
	width: 75%;
	border: 1px solid #999;
}
	
#azindex p 	{color: #fff;
		background-color: #000060;
		padding: 4px;
		display: block;
		margin: 0;
		border-bottom: 1px solid #333;
		font-size: 0.95em;
	}
.index {
	font: bold 100% Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}	
	
.index li {
	float: left;
	height: 1.5em;
	list-style-type: none;
	margin: 0.35em 0.15em;
	padding: 0;
	width: 1.5em;
	

}

.index a:link, .index a:visited {
	background: #fff;
	color: navy;
	display: block;
	height: 1.5em;
	padding: 0.37em 0 0 0;
	text-align: center;
	text-decoration: none;
	width: 1.5em;
	border: 1px solid #999;
}
li.showall, li.showall a:visited,li.showall a:link {
	width: 10em;
}

* html .index li {
	margin: 0.2em 0.2em;
	
}

ul.index li a:hover {
	background: #93D1E4;
	color: #fff;
	text-decoration: underline;
}
		
.atoz {
	list-style: none;
	text-align:left;
	margin: 2px;
	padding: 2px;
        background-color: #eef;	
	clear:both;
	}

.atoz li {
	padding: 0px;
        display: inline;
 }
	
.listhead {
	 float: left;
         margin-top: 0em;	
	 margin-right: 1em;
         padding-left: 3px;
         padding-right: 3px;
         color: #000066;
         font-weight: bold;
	 border: solid black 1px;
         }

/* End of A - Z styles */
span.refdocLink {
  margin-right: 1em;
}

span.titleCitation {font-style:italic;}
span.biblCitation{font-size:95%; display:block; margin-left:4%; margin-right:4%;}


dl.specChildren {
		margin: 0em;
		padding: 0em;
}

dl.specChildren ul li {
		margin: 0em;
		list-style: none;
		display: inline;
		padding-right: 0.5em;
}