@import url("tei.css");
body{
 background-color: white;
 color: black;
 margin: 4pt;
 }
	 
pre.eg {
 margin-left: 2pt;
 margin-right: 2em;
 border-style: solid;
 border-color: black;
 border-width: 1pt;
}