@import url("tei.css");
body{
 background-color: white;
 color: black;
 margin: 4pt;
 }
	 
pre {
   background-color: #FFFFCC;
}

pre.eg {
   background-color: #DDDDDD;
 }

pre.eg,pre {
 padding: 2pt;
 margin-left: 1em;
 margin-right: 1em;
 border-style: solid;
 border-color: black;
 border-width: 1pt;
}

div.specgrp {
 margin: 1em;
 padding: 2pt;
 border-style: solid;
 border-color: red;
 border-width: 1pt;
}

	div.schemaFragment {
	   	   border: 1pt solid #000000;
		   margin: 1em;
		   }
span.label {
	   color: red;
	   }

