@import url("tei.css");
h1.maintitle {
	margin-left: 170px;
	font-family: arial,sans-serif; 
	font-weight: bold; 
	color: black;
	background-color: white;
	bottom: 5px;
}

h2.subtitle {
	color: black;
	margin-left: 170px;
	background-color: white;
	font-family: arial,sans-serif; 
	font-weight: bold; 
}

td.bgimage {
  color: white;
  background-image: url("jaco001d.gif");
  width: 90%;
  background-repeat: no-repeat;
}


body{
 background-color: white;
 color: black;
 }
	 
#hdr{
 color: black;
 background-color : white;
 }


#lh-col{
 background: white;
 color: black;
 }

a.toclist:visited,
a.toclist:link
{
	color: black;
}
