<plugin>
	<extension plugin-id="pl.psnc.dl.ege.root" point-id="XslConverter" id="ODDCtoSCHconverter">
		<parameter id="class" value="pl.psnc.dl.ege.MultiXslConverter"/>
		<parameter id="name" value="ODDC to Schematron"/>
		<parameter id="xsluri" value="profiles/default/sch/to.xsl" />
		<parameter id="iMimeType" value="text/xml" />
		<parameter id="iFormat" value="ODDC" />
		<parameter id="iDescription" value="Compiled TEI ODD Document" />
		<parameter id="iType" value="text" />		
		<parameter id="oMimeType" value="text/xml" />
		<parameter id="oFormat" value="sch" />
		<parameter id="oDescription" value="Schematron constraints" />		
		<parameter id="oType" value="text" />
		<parameter id="visibility" value="true" />
		<parameter id="cost" value="11" />
	</extension>
</plugin>
