Source: tei-p5-xsl2
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@it.ox.ac.uk>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-p5-xsl2
Architecture: all
Depends: tei-xsl-common,ant,ant-contrib,saxon
Description: Text Encoding Initiative XSLT (2.0) stylesheets (P5)
 Stylesheets (XSLT 2.0) for TEI P5
