Source:  tei-roma
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@it.ox.ac.uk>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-roma
Architecture: all
Suggests: tei-p5-database,tei-p5-exemplars,php5,php5-xsl,trang-java,tei-p5-xsl
Description: Roma TEI Schema Builder
 Web application to build schemas for the TEI
