<?xml version="1.0" encoding="utf-8"?>
<!--Copyright TEI Consortium. 
Licensed under the GNU General Public License. 
See the file COPYING for details
$Date$
$Author$
-->
<elementSpec xmlns="http://www.tei-c.org/ns/1.0" module="textcrit" xml:id="APP" usage="mwa" ident="app">
<equiv/>
<gloss>apparatus entry</gloss><gloss version="2006-10-28" xml:lang="ja">批評資料</gloss>
<desc>contains one entry in a critical apparatus, with an optional
lemma and at least one reading.</desc><desc version="2006-10-28" xml:lang="ja"> 批評研究の対象資料を示す．</desc><desc version="2006-10-15" xml:lang="es">contiene una entrada en un aparato
crítico, con un lema opcional y por lo menos una lectura.
		</desc>
  <classes>
    <memberOf key="model.pPart.edit"/>
  </classes>
  <content>
    <rng:group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:zeroOrMore>
        <rng:ref name="model.global"/>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:ref name="lem"/>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
        <rng:optional>
          <rng:ref name="wit"/>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:optional>
      </rng:optional>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:group>
            <rng:ref name="model.rdgLike"/>
            <rng:zeroOrMore>
              <rng:ref name="model.global"/>
            </rng:zeroOrMore>
            <rng:optional>
              <rng:ref name="wit"/>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:optional>
          </rng:group>
          <rng:group>
            <rng:ref name="rdgGrp"/>
            <rng:zeroOrMore>
              <rng:ref name="model.global"/>
            </rng:zeroOrMore>
            <rng:optional>
              <rng:ref name="wit"/>
              <rng:zeroOrMore>
                <rng:ref name="model.global"/>
              </rng:zeroOrMore>
            </rng:optional>
          </rng:group>
        </rng:choice>
      </rng:zeroOrMore>
    </rng:group>
  </content>
  <attList>
    <attDef ident="type" usage="opt">
	<equiv/>
	<desc>classifies the variation contained in this element according to
some convenient typology.</desc><desc version="2006-10-28" xml:lang="ja">当該資料の分類を示す．</desc>
      <datatype><rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.enumerated"/></datatype>
      <valDesc>Any convenient descriptive word or phrase, describing the
extent of the variation (e.g.  <mentioned>word</mentioned>, <mentioned>phrase</mentioned>,
<mentioned>punctuation</mentioned>, etc.) its text-critical significance (e.g.
<mentioned>significant</mentioned>, <mentioned>accidental</mentioned>, <mentioned>unclear</mentioned>), or the nature
of the variation or the principles required to understand it (e.g.
<mentioned>lectio difficilior</mentioned>, <mentioned>usus auctoris</mentioned>, etc.)</valDesc>
      <exemplum>
        <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
      </exemplum>
    </attDef>
    <attDef ident="from" usage="opt">
	<equiv/>
	<desc>identifies the beginning of the lemma in the base text, if
necessary.</desc><desc version="2006-10-28" xml:lang="ja">必要であれば，注解の始めを示す．</desc>
      <datatype><rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.pointer"/></datatype>
      <valDesc>any valid identifier</valDesc>
      <exemplum>
        <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
      </exemplum>
      <remarks>
        <p>This attribute is only used when the double-end point
method of apparatus markup is used.</p>
      </remarks>
    </attDef>
    <attDef ident="to" usage="opt">
	<equiv/>
	<desc>identifies the endpoint of the lemma in the base text, if
necessary.</desc><desc version="2006-10-28" xml:lang="ja">必要であれば，注解の終わりを示す．</desc>
      <datatype><rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.pointer"/></datatype>
      <valDesc>any valid identifier</valDesc>
      <exemplum>
        <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
      </exemplum>
      <remarks>
        <p>This attribute is only used when the double-end point
method of apparatus markup is used, with the encoded apparatus held
in a separate file rather than being embedded <term>in-line</term> in
the base-text file.</p>
      </remarks>
    </attDef>
    <attDef ident="loc" usage="mwa">
	<equiv/>
	<desc>indicates the location of the variation, when the
location-referenced method of apparatus markup is used.</desc><desc version="2006-10-28" xml:lang="ja">異種の在処を示す．</desc>
      <datatype><rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.words"/></datatype>
      <valDesc>Any string containing a canonical reference for the passage
to which the variation applies.</valDesc>
      <exemplum>
        <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
      </exemplum>
      <remarks>
        <p>This attribute is used only when the location-referenced
encoding method is used.<!-- [Suppress it and use <att>from</att> instead?  -MSM]     --></p>
      </remarks>
    </attDef>
  </attList>
  <exemplum>
    <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
  </exemplum>
  <remarks>
    <p rend="dataDesc">May contain an optional lemma and one or more readings or
reading groups.</p>
  </remarks>
  <listRef>
    <ptr target="#TCAPEN"/>
  </listRef>
</elementSpec>
