/* 

** Copyright 2007 TEI Consortium

$Id: teic.css 1890 2006-10-28 18:40:44Z rahtz $

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.
This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
 You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the 
Free Software Foundation, Inc., 
59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

** As currently configured, the TEI website server dynamically transforms
** XML files into HTML, putting in a link to this stylesheet.

*/

/* main layout */
    
#col1 {
   width: 20%;
   background: #ffffff;
   margin: 0px;
   margin-top: 10px;
   color: #000066;
   padding: 5px;
   position: absolute;
   float: left;
   border-style: solid;
   border-width: 1px;
   border-color: red
}
   
#col2 {
   background: #ffffff;
   color: #333333;
   border-style: solid;
   border-width: 1px;
   border-color: black;
   margin: 0px;
   margin-top: 10px;
   padding: 5px;
   left: 22%;
   width: 51%;
   position: absolute
}
   
#col3 {
   width: 24%;
   left: 75%;
   color: #000066;
   background: #ffffff;
   border-style: solid;
   border-width: 1px;
   border-color: red;
   margin: 0px;
   margin-top: 10px;
   padding: 5px;
   position: absolute;
   float: right
}
   
#lh-col {
   color: black;
   margin-right: 10pt;
   margin-top: 0pt;
   padding-left: 5px;
   padding-right: 5px;
   background-color: #ffffff;
   font-weight:normal;
}
   
#rh-col {
   background-color: #ffffff;
   color: #333333;
   margin: 2pt;
   padding: 5px;
   font-weight:normal;
   border: solid black 1pt;
}
   
.bannerright {
   float:right;
   color: black;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 0.8em;
   font-weight: bold;
   text-decoration: none
}
   
body.simple {
   color: #000000;
   background-color: #FFFFFF;
   margin-left: 1em;
   margin-right: 1em;
   margin: 10pt;
}

body{
   color: #000000;
   background-color: #FFFFFF;
   margin: 0;
   padding:0;
}

/* tables for reference display */
table.wovenodd {
 width: 100%;
 table-layout: fixed;
}
td.wovenodd-col1 {
   width: 10%;
   vertical-align: top;
}
td.wovenodd-col2 {
   width: 90%;
}

table.attList {
 table-layout: fixed	;
 width: 100%;
 margin: 0pt;
 padding: 0pt;
}
table.attList td.odd_label {
   vertical-align: top;	
   width: 15%;
   font-weight: bold;
}
table.attList td.odd_value {
   vertical-align: top;	
   width: 85%;
}

table.attDef {
 table-layout: fixed	;
 width: 100%;
}
table.attDef td.odd_value {
   vertical-align: top;	
   width: 90%;
}
table.attDef td.odd_label {
  width: 10%;
  vertical-align: top;	
  font-style: italic;
  font-weight: normal;
}

table.valList {
 table-layout: fixed	;
 width: 100%;
}
table.valList td.odd_label {
  width: 10%;
  vertical-align: top;
  font-style: normal;
  font-weight: normal;
}
table.valList td.odd_value {
   vertical-align: top;	
   width: 90%;
}

table.specDesc td.Attribute {
  font-weight: bold;
}

td p { 
   margin-top: 0pt;
   margin-bottom: 2pt;
   }

   
#accessibility {
}
#hdr {
   width: auto;margin: 0px;
   padding-top: 10pt;
   padding-bottom: 30pt;
   border: 0px;
   color: yellow;
   background: url("TEI-glow.png");
   background-repeat: no-repeat;
   overflow: inherit
}
   
   
   /*navigation bar*/
#hdr2 {
   width: auto;
   background-color: #0082EF;
   color: #223377;
   font-weight: bold;
   padding-left: 15px;
   padding-bottom: 2px;
   padding-top: 2px;
   padding-right: 5px;
   font-family: Arial,Helvetica,sans-serif;
   font-size: smaller;
   border-top: solid black 1pt;
   border-bottom: solid black 1pt
}
   
   /*breadcrumbs*/
#hdr3 {
   border-bottom: solid green 2pt;
   color: black;
   background-color: white;
   padding-left: 5px;
   padding-bottom: 2px;
   padding-top: 2px;
   padding-right: 5px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
   font-size: smaller
}
   
   
   /*headings*/
h1 {
   font-weight: bold;
   font-size: x-large;
   color: #223377
}
   
   
h2 {
   font-size: 16pt;
   margin-top: 20pt;
   font-weight: bold;
   font-family: Arial,Helvetica,sans-serif;
   color: #223377
}
   
h3 {
   font-size: larger;
   color: #C63904;
   font-weight: bold;
   font-family: Arial,Helvetica,sans-serif;
   font-style: italic
}
  
h4,h5,h6 {
   font-size: 100%;
   } 
   
h1.maintitle {
   color: #222E44;
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
   margin-bottom: 5px
}

h1.title {
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
   bottom: 5px;
}
   
h2.subtitle {
   color: #222E44;
   margin-bottom: 15px;
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold
   
}
.skiplinks {
   font-family: Arial,Helvetica,sans-serif;
   color: black;
   font-weight: bold;
   font-size: 0.8em;
   text-decoration: none;
   padding-right: 15px
}
a.skiplinks {
   font-family: Arial,Helvetica,sans-serif;
   color: black;
   font-weight: bold;
   font-size: 0.8em;
   text-decoration: none;
   padding-right: 15px
}
   
.footer {
   text-align: center;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 0.8em
}
   
.hide {
   display: none
}
   
.tocontent {
   color: #000066;
   display: none
}
   
.framestdlink {
   color: red;
   font-size: smaller;
   font-weight: bold
}
   
   /*linking of all kinds*/
   
div.breadcrumb { 
   display: inline;
}

a.breadcrumb {
   color: black;
   text-decoration: none;
   padding-right: 5px
}
   
ul.breadcrumb {
   display: inline;
   font-size: 1.1em
}
   
li.breadcrumb  {
   padding-left: 12px;
   padding-right: 5px;
   display: inline;
   color: #000;
   background: url("rightarrow.gif");
   background-repeat: no-repeat;
   background-position: left
}
   
li.breadcrumb-first  {
   padding-left: 12px;
   padding-right: 5px;
   display: inline;
   color: #000;
   background: url("rightarrow.gif");
   background-repeat: no-repeat;
   background-position: left
}
   
   
a.framestdlink {
   font-size: small;
   font-weight: bold;
   text-decoration: none;
   font-family: Arial,Helvetica,sans-serif
}
   
   
a:hover {
   text-decoration: underline
}
   
   
a.navbar:link {
   color: white;
   text-decoration: none
}
   
a.navbar:visited {
   color: white;
   text-decoration: none
}
   
a.navbar:hover {
   color: white;
   text-decoration: underline
}
   
   a.inlinetoc:link,
a.inlinetoc:visited {
   color: #7a7a7a;
   font-size: smaller;
   text-decoration: none
}
   
a.inlinetoc:hover {
   color: #7a7a7a;
   font-size: smaller;
   text-decoration: underline
}
   
a.inlinetoc-this:visited,a.inlinetoc-this:link {
   font-size: smaller;
   color: black;
   font-weight: bold;
   text-decoration: underline
}
   
a.inlinetoc-sub:visited,a.inlinetoc-sub:link {
   text-decoration: none;
   color: black;
   font-weight: normal;
   font-size: smaller
}
   
/*misc*/
.plain {
   font-weight: bold;
   text-decoration: none;
   font-size: 100%;
   font-family: Arial,Helvetica,sans-serif;
   color: #C63904
}
   
.small {
   font-size: 8pt;
   font-family: Arial,Helvetica,sans-serif;
   color: #9F9F9F
}
   
.label {
 font-weight: bold;
}
   
tr.label td {
 font-weight: bold;
 background-color: #AAAAAA
}
  
   
div.inlinteoc {
 color: #7a7a7a;
 text-align: center;
 margin-top: 10pt;
 padding-right: 16pt;
 padding-left: 16pt
}

div.cdata{
 white-space: pre;
}

pre,div.pre,div.pre_eg,pre.eg,div.eg {
 padding: 4pt;
 border: 1pt solid black;
 font-family: monospace ;
 background-color: #ffffcc;  
 margin-bottom: 4pt;
 margin-top: 4pt;
}
span.att { font-family: monospace; }
span.att:before { content: "@"; }



/* toc */
div.toclist0 {
   margin-left: 0.5em; 
   margin-top: 1pt; 
   margin-bottom: 3pt; 
   text-indent: -0.5em;
   font-size: small;    
}
div.toclist0 a.toclist { color: gray ; }
div.toclist0 a.toclist:hover { color: black ; }

div.toclist1 {
   margin-left: 1em; 
   margin-top: 1pt; 
   margin-bottom: 2pt; 
   text-indent: -0.7em;
   font-size: small;    
}

div.toclist2 {
   margin-left: 1.5em; 
   text-indent: -1em;
   font-size: small;    
}

div.toclist3 {
   margin-left: 2em; 
   text-indent: -1.5em;
   font-size: small;    
}

span.toclist-this {
       color: black; 
       font-weight: bold 
}

a.toclist:visited,a.toclist:link
{
   font-weight: bold; 
   color: #000000;
   text-decoration: none;
}




/* notes */
div.noteHeading {
   margin-top: 9pt;
   border: 0;
   border-top: 1pt;
   border-style: solid;
   padding-top: 6pt;
   font-size: larger;
   font-weight: bold;
}

div.note {
   margin-left: 1em; 
   margin-bottom: 2pt; 
   text-indent: -1em;
}

div.note ul {
   margin-left: 1em; 
   margin-bottom: 2pt; 
   text-indent: 0.5em;
}

/* images */
img.display {
   margin-top: 10pt;
   margin-bottom: 10pt;
   display: block;
}
p.caption {
   font-style: italic;
}

.floatimage {
   float : left;
   margin-right : 6px;
   vertical-align : top;
}
/* specialized divs */
div.letter {
   margin-left: 2em;
   margin-right: 2em;
   margin-top: 6pt;
   margin-bottom: 6pt;
   border-top: 1pt solid green;
   border-bottom: 1pt solid green;
}
/* title page */
div.titlePage {
   border-top: 2pt solid #000000;
   border-bottom: 2pt solid #000000;
   padding-top: 6pt;
   padding-bottom: 6pt;
   font-size: 200%;
   background-color: lightgray;
   text-align: center;
}
div.docImprint {
   font-style: italic;    
}
div.docDate {
   font-style: italic;    
}
div.docTitle {
    font-weight: bold;
}
div.docAuthor {
    font-style: italic;
}

div.byline {
}   

div.dateline{
   text-align: right;
}
/* verse */
div.lg {
   margin-left: 10px;
}

div.centerbold {
    text-align:center;
    padding: 20pt;
    font-weight: bold;
}
div.center {
    text-align:center;
}
div.right {
    text-align:right;
}
div.left {
    text-align:left;
}
p.center {
    text-align:center;
}
p.right {
    text-align:right;
}
p.left {
    text-align:left;
}
div.indent1 {
   margin-left: 1em;
}
div.indent2 {
   margin-left: 2em;
}
div.indent3 {
   margin-left: 3em;
}
div.indent4 {
   margin-left: 4em;
}
div.indent5 {
   margin-left: 5em;
}
div.indent6 {
   margin-left: 6em;
}
/* misc */
.plain {
   font-weight: bold;
   text-decoration: none;
   font-family: Arial,Helvetica,sans-serif;
   color: #C63904;
}

p.box {
   border: 1pt solid #000000;
}

.small {
   font-size: small;
}

td.label {
   font-weight: bold;
   background-color: #AAAAAA;
}
tr.label td {
   font-weight: bold;
   background-color: #AAAAAA;
}

div.tocFront {
   border-bottom: 1pt solid #000000;
}
div.tocBack {
   border-bottom: 1pt solid #000000;
}
div.tocBody {
   border-bottom: 1pt solid #000000;
}
/* a <bibl> inside a <cit> */
div.citbibl {
   text-align:right;
   font-size: smaller;
}
/* a <quote> inside a <cit> */
div.citquote {
}

/* normal gloss lists have bold labels */
dt {
   font-weight: bold;
}
div.blockquote {
   margin: 10pt;
}

span.gloss {
   font-style: italic;
}
span.mentioned {
   font-style: italic;
}
span.foreign {
   font-style: italic;
}

span.displayRelax {
 margin-right: 2px;
 margin-top: 2px;
 font-size: smaller;
 border: solid red 1pt;
 background-color: black;
 color: white;
 float: right;
 font-weight:bold;
}

a.link_return:link,a.link_return:visited {
 font-weight: bold;
 text-decoration: none; 
 color: red;
}


/* pretty printing of XML */

td.classSpec, td.macroSpec {
 font-weight: bold;
}
a.link_odd_element:link,a.link_odd_element:visited {
 color: #006400;
}
a.link_odd_macro:link,a.link_odd_macro:visited {
 font-style:italic;
}
a.link_odd_class:link,a.link_odd_class:visited {
 font-style:italic;
}
span.element {
 font-weight: bold;
 color: black;
}

td.elementSpec,span.elementname {
 font-weight: bold;
 color: #006400;
}

span.attribute {
    color: #006400;
}
span.attributevalue {
    color: black;
}
span.comment {
    color: black;
    font-style:italic;
}
span.namespace {
    color: #228B22;
}

/* pretty print rnc */

span.rnc_nc { 
 color: #006400;
}
span.rnc_decl {
  color: green;
}
span.rnc_prefix {
  color: blue;
}
span.rnc_param {
  color: gray;
}
span.rnc_atom {
  color: yellow;
}
span.rnc_annot {
  color: orange;
}
span.rnc_comment {
  color: magenta;
}
span.rnc_annot {
  color: cyan;
}
span.rnc_type {
  color: purple;
}
span.rnc_keyword {
  color: teal;
}
span.defaultVal {
  font-weight: bold;
}
