<plugin>
	<extension plugin-id="pl.psnc.dl.ege.root" point-id="XslConverter" id="WORDPRESStoTEIconverter">
		<parameter id="class" value="pl.psnc.dl.ege.MultiXslConverter"/>
		<parameter id="name" value="Wordpress to TEI"/>
		<parameter id="xsluri" value="profiles/default/wordpress/from.xsl" />
		<parameter id="iMimeType" value="text/xml" />
		<parameter id="iFormat" value="wordpress" />
		<parameter id="iDescription" value="Wordpress RSS feed  of blog" />
		<parameter id="iType" value="text" />		
		<parameter id="oMimeType" value="text/xml" />
		<parameter id="oFormat" value="TEI" />
		<parameter id="oDescription" value="TEI P5 XML Document" />		
		<parameter id="oType" value="text" />
		<parameter id="visibility" value="true" />
		<parameter id="cost" value="9" />
	</extension>
</plugin>
