Source: tei-p5-schema
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@it.ox.ac.uk>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-p5-schema
Architecture: all
Depends: 
Description: Text Encoding Initiative Schemas/DTDs
      RelaxNG Schemas and DTDs for TEI P5
