/*
$Id: guidelines.css 10915 2012-10-04 21:49:12Z rahtz $

This software is dual-licensed:

1. Distributed under a Creative Commons Attribution-ShareAlike 3.0
Unported License http://creativecommons.org/licenses/by-sa/3.0/ 

2. http://www.opensource.org/licenses/BSD-2-Clause
		
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

* Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright
notice, this list of conditions and the following disclaimer in the
documentation and/or other materials provided with the distribution.

This software is provided by the copyright holders and contributors
"as is" and any express or implied warranties, including, but not
limited to, the implied warranties of merchantability and fitness for
a particular purpose are disclaimed. In no event shall the copyright
holder or contributors be liable for any direct, indirect, incidental,
special, exemplary, or consequential damages (including, but not
limited to, procurement of substitute goods or services; loss of use,
data, or profits; or business interruption) however caused and on any
theory of liability, whether in contract, strict liability, or tort
(including negligence or otherwise) arising in any way out of the use
of this software, even if advised of the possibility of such damage.
 */
/* main layout  for TEI Guidelines */
body {
    color: #000000;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    font-size: 0.8em;
    font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
}
#container {
    text-align: left;
    color: #000000;
    background: #FFFFFF;
    line-height: 1.6em;
}
#onecol {
    line-height: 1.6em;
}
#banner {
    height: 89px;
    color: #FFFFFF;
    background: #2277BB;
    margin-bottom: 0px;
    border-bottom: 3px#CCEEFF solid;
}
div.main-content {
    background-color: #FFFFFF;
    padding: 15px;
}
div.miniTOC_right {
    margin-left: 1em;
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
    background-color: #F6F6F6;
    border: 1px solid #27B;
    width: 25%;
    clear: right;
}
div.miniTOC_left {
    text-align: left;
    float: left;
    line-height: 1.1em;
    margin-left: 0;
    margin-right: 2em;
    margin-top: -5em;
    margin-bottom: 3ex;
    padding-left: 0;
    padding-top: 0;
    border-top: none;
    border-bottom: 1px solid #00487D;
    border-left: none;
    border-right: 1px solid #00487D;
    width: 25%;
    clear: right;
}
div.miniTOC { }
div.miniTOC_right ul.subtoc {
}
ul.subtoc {
    list-style-type: none;
}
div.miniTOC_right ul.subtoc {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 0.5em;
    padding-left: 0;
}
div.miniTOC_right ul.subtoc li {
    text-indent: 0em;
    margin-left: 0;
    padding-left: 0;
}
div.miniTOC_left ul.subtoc {
    margin-left: 0;
    padding-left: 0;
}
div.miniTOC_left ul.subtoc li {
    text-indent: 0em;
    margin-left: 0;
    padding-left: 0;
}
div.subtoc {
    border-bottom: thin solid #00487D;
    margin-bottom: 2ex;
}
ul.subtoc li {
    padding-top: 1ex;
    padding-bottom: 1ex;
    padding-right: 0.7em;
    padding-left: 0.7em;
}
div.miniTOC_right ul.subtoc li {
    padding-bottom: 0.5em;
    padding-top: 0em;
}
li.subtoc a {
    text-decoration: none;
    font-weight: normal;
    color: #00487d;
}
li.subtoc a:hover {
    text-decoration: underline;
    font-weight: normal;
    color: #2277bb;
}
span.subtochead {
    color: #00487D;
    margin-left: 2em;
    font-weight: bold;
}
.bannerright {
    margin-right: 5px;
    float: right;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none
}
#accessibility {
}
/* navigation bar */
#hdr2 {
    width: auto;
    background-color: #223377;
    height: 2px;
/*
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 5px;
  font-size: smaller;
  border-top: solid black 1pt;
  border-bottom: solid black 1pt
 */
}
/* breadcrumbs */
#hdr3 {
    border-bottom: solid green 2pt;
    color: black;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 5px;
    font-weight: bold;
    font-size: smaller
}
/* headings */
h1 {
    font-weight: bold;
    font-size: x-large;
    color: #223377;
    clear: left;
}
#onecol h2 {
    margin-top: 0;
    margin-left: 22%;
}
h2 {
    font-size: 14pt;
    color: #00487D;
    font-style: normal;
}
h3 {
    font-size: larger;
    color: #223377;
    font-weight: bold;
}
h4,h5,h6 {
    font-size: 100%;
    color: #223377;
}
h1.maintitle {
    color: #223377;
    margin-left: 100px;
    font-weight: bold;
    margin-bottom: 5px
}
h1.title {
    font-size: larger;
    margin-left: 100px;
    color: #223377;
    font-weight: bold;
    bottom: 5px;
}
h2.subtitle {
    font-size: 101%;
    color: #222E44;
    margin-bottom: 15px;
    margin-left: 100px;
    font-weight: bold
}
.skiplinks {
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
    padding-right: 15px
}
a.skiplinks {
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
    padding-right: 15px
}
.footer {
    text-align: center;
    font-size: 0.8em
}
.hide,.skip {
    display: none
}
.tocontent {
    color: #000066;
    display: none
}
.framestdlink {
    color: red;
    font-size: smaller;
    font-weight: bold
}
a.framestdlink {
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline
}
a.navbar:link {
    color: white;
    text-decoration: none
}
a.navbar:visited {
    color: white;
    text-decoration: none
}
a.navbar:hover {
    color: white;
    text-decoration: underline
}
a.inlinetoc:link,a.inlinetoc:visited {
    color: #7a7a7a;
    font-size: smaller;
    text-decoration: none
}
a.inlinetoc:hover {
    color: #7a7a7a;
    font-size: smaller;
    text-decoration: underline
}
a.inlinetoc-this:visited,a.inlinetoc-this:link {
    font-size: smaller;
    color: black;
    font-weight: bold;
    text-decoration: underline
}
a.inlinetoc-sub:visited,a.inlinetoc-sub:link {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: smaller
}
/* misc */
.plain {
    font-weight: bold;
    text-decoration: none;
}
p.box {
    border: 1pt solid #000000;
}
.small {
    font-size: 8pt;
    color: #9F9F9F
}
div.inlinteoc {
    color: #7a7a7a;
    text-align: center;
    margin-top: 10pt;
    padding-right: 16pt;
    padding-left: 16pt
}
pre,div.pre,div.pre_eg,pre.eg,div.eg {
    clear: both;
    margin-top: 1em;
    margin-bottom: 1em;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #000000;
    line-height: 1.1em;
    font-family: monospace;
    font-size: 10pt;
    white-space: pre;
}
div.egXML_valid {
    background-color: #f7f9f6;
    border-color: #c5d8bb;
}
div.egXML_feasible {
    background-color: #fff9f3;
    border-color: #ffe1ad;
}
div.egXML_invalid {
    border-color: #ffe7e8;
    background-color: #fdbbac;
}
/* toc */
span.tocListHead {
    font-size: larger;
    color: #223377;
    font-weight: bold;
}
p.tocListHead {
}
a.toc_0 {
}
div.toclist0 {
    margin-left: 0.5em;
    margin-top: 1pt;
    margin-bottom: 3pt;
    text-indent: -0.5em;
    font-size: small;
}
div.toclist0 a.toclist {
    color: gray;
}
div.toclist0 a.toclist:hover {
    color: black;
}
div.toclist1 {
    margin-left: 1em;
    margin-top: 1pt;
    margin-bottom: 2pt;
    text-indent: -0.7em;
    font-size: small;
}
div.toclist2 {
    margin-left: 1.5em;
    text-indent: -1em;
    font-size: small;
}
div.toclist3 {
    margin-left: 2em;
    text-indent: -1.5em;
    font-size: small;
}
span.toclist-this {
    color: black;
    font-weight: bold
}
a.toclist:visited,a.toclist:link {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
ul.continuedtoc {
    list-style: none;
}
ul.toc {
    list-style: none;
}
ul.toc_body,ul.toc_front,ul.toc_back {
    list-style: none;
    border: 0em;
    margin: 1em;
    padding: 0em;
}
ul.toc_back ul.toc ul.toc {
    display: block;
}
ul.toc_front ul.toc ul.toc {
    display: block;
}
ul.toc_body ul.toc ul.toc {
    display: block;
}
ul.toc {
    font-size: small;
}
li.tocTree {
    list-style: none;
}
li.toc {
    list-style: none;
}
span.headingNumber {
}
div.toc_back {
    float: right;
}
/* notes */
div.noteHeading {
    margin-top: 9pt;
    border: 0;
    border-top: 1pt;
    border-style: solid;
    padding-top: 6pt;
    font-size: larger;
    font-weight: bold;
}
div.noteBody {
    display: inline;
}
div.note {
    margin-left: 1em;
    margin-bottom: 2pt;
    text-indent: -1em;
}
div.note ul {
    margin-left: 1em;
    margin-bottom: 2pt;
    text-indent: 0.5em;
}
span.noteLabel {
}
/* images */
div.figure {
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
img.display {
    margin-top: 10pt;
    margin-bottom: 10pt;
    display: block;
}
div.caption {
    font-style: italic;
    margin-left: 1em;
    margin-top: 0.4em;
}
.floatimage {
    float: left;
    margin-right: 6px;
    vertical-align: top;
}
/* specialized divs */
div.letter {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 6pt;
    margin-bottom: 6pt;
    border-top: 1pt solid green;
    border-bottom: 1pt solid green;
}
/* title page */
div.titlePage {
    padding: 2px;
    margin: 2px;
    font-size: 120%;
    background-color: #C0C0C0;
    text-align: center;
}
div.docImprint {
    font-style: italic;
}
div.docDate {
    font-style: italic;
}
div.docTitle {
    font-weight: bold;
}
div.docAuthor {
    font-style: italic;
}
div.byline {
}
div.dateline {
    text-align: right;
}
div.centerbold {
    text-align: center;
    padding: 10pt;
    font-weight: bold;
}
div.center {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
div.right {
    text-align: right;
}
div.left {
    text-align: left;
}
p.center {
    text-align: center;
}
p.right {
    text-align: right;
}
p.left {
    clear: both;
    text-align: left;
}
div.indent1 {
    margin-left: 1em;
}
div.indent2 {
    margin-left: 2em;
}
div.indent3 {
    margin-left: 3em;
}
div.indent4 {
    margin-left: 4em;
}
div.indent5 {
    margin-left: 5em;
}
div.indent6 {
    margin-left: 6em;
}
/* table label row */
td.label {
    font-weight: bold;
    background-color: #AAAAAA;
}
span.label {
    font-weight: bold;
}
tr.label td {
    font-weight: bold;
    background-color: #AAAAAA;
}
/* a <bibl> inside a <cit> */
div.citbibl {
    text-align: right;
    font-size: smaller;
}
/* a <quote> inside a <cit> */
div.citquote {
}
/* normal gloss lists have bold labels */
dt {
    font-weight: bold;
}
div.blockquote {
    margin: 10pt;
}
span.gloss {
    font-style: italic;
}
span.mentioned, span.term {
    font-style: italic;
}
span.foreign {
    font-style: italic;
}
a.link_return:link,a.link_return:visited {
    font-weight: bold;
    text-decoration: none;
    color: red;
}
span.bookmarklink {
    font-size: 10pt;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 1em;
    padding-left: 4px;
    padding-right: 4px;
    display: inline;
}
a.bookmarklink {
    text-decoration: none;
/* color:#777777 */
    color: #ddf;
}
a.bookmarklink:hover {
    text-decoration: underline;
    color: blue;
}
h3:hover span.bookmarklink a.bookmarklink span.pilcrow,
h4:hover span.bookmarklink a.bookmarklink span.pilcrow,
h5:hover span.bookmarklink a.bookmarklink span.pilcrow {
    text-decoration: underline;
    color: blue;
}
hr {
    clear: both;
}
span.icon {
    font-style: normal;
    font-weight: bold;
    font-size: large;
}
sup {
    vertical-align: top;
    font-size: 70%;
}
/* paragraphs */
p, div.p {
    margin-top: 0.3em;
}
span.math {
    font-style: italic;
}
code {
    font-weight: bold;
    font-size: 120%;
}
a.navigation:hover {
    color: #060;
}
a.UP:hover {
    color: #060;
}
span.previousLink {
    font-size: 150%;
}
span.nextLink {
    font-size: 150%;
}
span.upLink {
    font-size: 150%;
}
span.upLink a {
    font-size: 80%;
}
h1.title a {
    text-decoration: none;
    color: #223377;
}
h1.title a:visited {
    text-decoration: none;
    color: #223377;
}
address {
    margin: 1em;
    font-size: 75%;
}
span.val:before {
    content: "'";
}
span.val:after {
    content: "'";
}
span.refdocLink {
    margin-right: 1em;
}
span.titleCitation {
    font-style: italic;
}
span.biblCitation {
    font-size: 95%;
    display: block;
    margin-left: 4%;
    margin-right: 4%;
}
span.invisible {
    display: none;
}
#udm {
    margin-top: 0px;
}
div.mainhead {
    border-bottom: 3px double #00487D;
    background-color: #FFFFFF;
}
h1 {
    font-size: 13pt;
    color: #00487D;
    padding-left: 3em;
    padding-right: 3em;
    text-align: right;
}
span.citLink {
}
/* bibl */
span.titlej, span.titlem {
    font-style: italic;
}
span.titleu {
}
span.titles {
}
ul.attref li {
    list-style: none;
    display: inline;
    margin-right: 1em;
}
td.attcat-col2 {
    vertical-align: top;
}
td.attcat-col1 {
    vertical-align: top;
    font-weight: bold;
}
span.showhide,span.notshowhide {
    margin-right: 10px;
}
li.tocTree ul {
    display: none;
}
.tocHide {
    display: none;
}

/* for ePub */
div.EpubCoverPage {
    -webkit-hyphens:none;
    font-family: serif; 
    height:860;          
    font-size:30pt; 
    font-weight: bold;
    padding-top: 15pt;
    margin: 12pt;
    border: solid red 1pt; 
    text-align:center;
   }
