Source: tei-p5-doc
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@it.ox.ac.uk>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-p5-doc
Architecture: all
Depends: tei-p5-schema
Description: Text Encoding Initiative Guidelines
 Documentation for TEI P5
