<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build P5 distribution packages as zip archives and Debian packages</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>2</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@1.40">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://tei.svn.sourceforge.net/svnroot/tei/trunk/P5</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -f dist-source.stamp dist-schema.stamp dist-test.stamp dist-database.stamp dist-exemplars.stamp</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>make XSL=`pwd`/../../Stylesheets/lastSuccessful/archive/dist/xml/tei/stylesheet clean dist deb</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>make XSL=`pwd`/../../Stylesheets/lastSuccessful/archive/dist/xml/tei/stylesheet teiwebsiteguidelines</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>release/xml/**, release/doc/**,*.zip,tei-p5-*_*,teiwebsiteguidelines.zip</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
      <unstableOnWarning>true</unstableOnWarning>
      <failBuildOnError>false</failBuildOnError>
      <parsingRulesPath>/var/lib/jenkins/hudson-log-parse-rules</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.tasks.Mailer>
      <recipients>sebastian.rahtz@it.ox.ac.uk mholmes@uvic.ca</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.emotional__hudson.EmotionalHudsonPublisher plugin="emotional-hudson@1.3"/>
  </publishers>
  <buildWrappers/>
</project>