<plugin>
	<extension plugin-id="pl.psnc.dl.ege.root" point-id="XslConverter" id="TEItoRDFconverter">
		<parameter id="class" value="pl.psnc.dl.ege.MultiXslConverter"/>
		<parameter id="name" value="TEI to RDF"/>
		<parameter id="xsluri" value="profiles/default/rdf/to.xsl" />
		<parameter id="iMimeType" value="text/xml" />
		<parameter id="iFormat" value="TEI" />
		<parameter id="iDescription" value="TEI P5 XML Document" />
		<parameter id="iType" value="text" />		
		<parameter id="oMimeType" value="text/rdf" />
		<parameter id="oFormat" value="rdf" />
		<parameter id="oDescription" value="Resource Description Framework (.rdf)" />		
		<parameter id="oType" value="spreadsheet" />
		<parameter id="visibility" value="true" />
		<parameter id="cost" value="11" />
	</extension>
</plugin>
