Source: tei-p5-xsl
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@oucs.ox.ac.uk>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.9.1

Package: tei-p5-xsl
Depends: tei-xsl-common
Architecture: all
Description: Text Encoding Initiative XSLT stylesheets (P5)
 Stylesheets for TEI P5
