Source: tei-xsl-common
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@it.ox.ac.uk>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-xsl-common
Architecture: all
Description: Text Encoding Initiative XSLT stylesheets common files
 TEI XSL stylesheet family, common files and documentation
