.DS_Store

release
dist
customXml
TAGS
Test/LOG
word
\[Content_Types\].xml 
docProps
Test/test-tree.html
names.xml
Test/test37.xml
epub-print.css
msdescription.css
odd.css
tei-print.css
tei.css
tei_msdescription.css
teislides.css

Test/d3.v3.min.js

*.processedodd

licensekey.txt
