/* tei.css */

pre {margin-left: 1em;}

pre.eg {font-size: small}

h1 { 
     font-weight: bold; 
     font-size: 36pt; 
     line-height: 34pt;
     color: #C63904 }


h2 {	 font-size: 18pt; 
     line-height: 20pt;
      margin-top: 18pt;
     font-weight: bold; 
     color: #C63904	}

h3 {      font-size: 16pt; 
     line-height: 18pt;
     color: #C63904
     font-weight: bold; 
	font-style: italic;
	}

.plain { font-weight: bold; 
        text-decoration: none;     
        font-size: 100%;
        font-family: sans-serif;
          color: #C63904	 }

.xref,.link_xref,.link_ref { font-weight: bold; 
        text-decoration: none;     
        font-size: 90%;
        font-family: sans-serif;
          color: #FF6600	 }

.xptr,.link_xptr,.link_ptr { font-weight: bold; 
        text-decoration: none;     
        font-size: 90%;
        font-family: sans-serif;
         color: #FF6600	 }

.TEIgi { text-decoration: none;
         color: #ff6600;
 }

.WWPgi { text-decoration:none;
         color: green;
 }

a.toclist-this:visited,a.toclist-this:link {  
        text-decoration: none;     
        color: #cccccc;	 
	}

.small { font-size: 8pt; 
         font-family: "Arial";
         color: #9F9F9F }

.label    { 	font-weight: bold; background-color: #AAAAAA;}
tr.label td {   font-weight: bold; background-color: #AAAAAA; }

.breadcrumb{
	font-family: arial,sans-serif; 
	color: #000066;
	font-weight : bold;
	font-size : 0.8em;
	  text-decoration: none;
	  padding-right : 5px;
}
a.breadcrumb:link,visited{
	font-family: arial,sans-serif; 
	color: #000066;
	font-weight : bold;
	font-size : 0.8em;
	text-decoration: none;
	padding-right : 5px;
}

span.toclist{
        font-size: 90%; 
	font-family: sans-serif;
	font-weight: bold;
	
}

a.framestdlink:visited ,
a.framestdlink:link
{
        font-size: 77%; 
	font-weight: bold; 
        text-decoration: none;
	font-family : Arial,  sans-serif;
}


a.toclist-sub:visited ,a.toclist-sub:link
{
   text-decoration: none;
   color: #ffcc00;       
   font-size: 77%; 
}

p.toclist {
	  margin-left: 1em; 
	  margin-top: 1pt; 
	  margin-bottom: 2pt; 
	  text-indent: -1em;
	}

p.toclist-this {
	  margin-left: 1em; 
	  margin-top: 1pt; 
	  margin-bottom: 2pt; 
	  text-indent: -1em;
          font-size: 77%;	   
	  font-weight: bold ;
	  color: #cccccc;
	}

p.toclist-sub {
	  color: #ffcc00;       
	  margin-left: 2em; 
	  margin-top: 1pt; 
	  margin-bottom: 2pt; 
	  text-indent: -1em
	}

h1.maintitle {
	color: white; 
	margin-left: 100px;
	font-family: arial,sans-serif; 
	font-weight: bold; 
	bottom: 5px;
}

h2.subtitle {
	color: white; 
	margin-left: 100px;
	font-family: arial,sans-serif; 
	font-weight: bold; 
	
}
.skiplinks{
	font-family: arial, sans-serif; 
	color: #ffffff;
	font-weight : bold;
	font-size : 0.8em;
	  text-decoration: none;
	  padding-right : 15px;
}
a.skiplinks:link,visited{
	font-family: arial,sans-serif; 
	color: #ffffff;
	font-weight : bold;
	font-size : 0.8em;
	text-decoration: none;
	padding-right : 15px;
}

.tocontent{
	color : #000066;
	display : none;
}

.hide{
	display : none;
}

.framestdlink {	
	color: red;
        font-size: 90%; 
	font-weight: bold; 
}

a.link_xref:visited,
a.link_xref:link
{
	font-size: 100%;
	font-family : Arial,  sans-serif;
}


a.toclist:visited,
a.toclist:link
{
        font-size: 77%; 
	font-weight: bold; 
	color: white;
        text-decoration: none;
	font-family : Arial,  sans-serif;
}



/* CSS layout */
.bannerright {
	position : absolute;
	right : 5px;
	color: #ffffff;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 0.8em;
	font-weight : bold;
	text-decoration: none;	
		}

body.pagetable {
	color: black;
	background-color:  #000066; 
		}

td.maintext p {
	font-family: sans-serif;
	}
td.maintext {
	background-color: white;
	font-family: sans-serif;
	color:		  black;
	padding-left:		  6pt; 
	padding-right:		  6pt; 
	    }

body.simple {
 background-color: white;
 color: black;
 margin: 10pt;
}

body{
 margin: 0;
 padding:0;     
 background-color: #000066;
 color: black;
 }
	 
#hdr{
 width: auto;
 margin: 0;
 color: #ffffff;
 background-color : #000066;
 background-repeat : no-repeat;
 overflow : inherit;/* test to see if horizontal scrolling problem is resolved */
 }


/* bread crumb trail */
#hdr2{
 width: auto;
 color: #000000;
 background-color : #99CCFF;
 padding-left : 5px;
 padding-bottom : 2px;
 padding-top : 2px;
 padding-right : 5px;
 }

  
/* navigation bar */
#hdr3{
 width: auto;
 color: #000000;
 background-color : #ffffff;
 padding-left : 5px;
 padding-bottom : 2px;
 padding-top : 2px;
 padding-right : 5px;
 }
a.navbar:link,a.navbar:visited
{
        color: white;
        text-decoration: none;
}

  
#lh-col{
 width: 18%;
 background: #000066;
 color: #ffffff;
 margin: 0;
 padding: 5px;
 position : relative;
 float: left;
 }

#rh-col{
 background: #ffffff;
 color: #333333;
 margin: 0;
 padding: 5px ;
 left: 20%;
 position : absolute;
}


table.wovenodd td,p.wovenodd {
	   background-color: white;
}
