/* tei.css */

/* layout *
body.simple {
   background-color: white;
   color: black;
   margin: 10pt;
}

body{
   margin: 0;
   padding:0;
   background-color: #000066;
   color: black;
}

#hdr3{
   width: auto;
   color: #000000;
   background-color : #ffffff;
   padding-left : 5px;
   padding-bottom : 2px;
   padding-top : 2px;
   padding-right : 5px;
}

#hdr{
   width: auto;
   margin: 0;
   color: #ffffff;
   background-color : #000066;
   background-repeat : no-repeat;
   overflow : inherit;
}

#hdr2{
   width: auto;
   color: #000000;
   background-color : #99CCFF;
   padding-left : 5px;
   padding-bottom : 2px;
   padding-top : 2px;
   padding-right : 5px;
}

#lh-col{
   width: 12%;
   background: #000066;
   color: #ffffff;
   margin: 0;
   padding: 5px;
   position : relative;
   float: left;
}

#rh-col{
   background: #ffffff;
   color: #333333;
   margin: 0;
   padding: 5px ;
   left: 15%;
   position : absolute;
}

.bannerright {
   position : absolute;
   right : 5px;
   color: #ffffff;
   font-family : Arial, Helvetica, sans-serif;
   font-size : 0.8em;
   font-weight : bold;
   text-decoration: none;
}

body.pagetable {
   color: black;
   background-color: #000066;
}

/* headings */
h1 {
   font-weight: bold;
   font-size: x-larger;
   line-height: 34pt;
}

h2 {
   font-size: larger;
   line-height: 20pt;
   margin-top: 18pt;
   font-weight: bold;
}

h3 {
   font-size: larger;
   line-height: 18pt;
   color: #C63904
   font-weight: bold;
   font-style: italic;
}


h1.maintitle {
   margin-left: 100px;
   font-family: arial,sans-serif;
   font-weight: bold;
   bottom: 5px;
}

h2.subtitle {
   margin-left: 100px;
   font-family: arial,sans-serif;
   font-weight: bold;
}

/* misc */
.plain {
   font-weight: bold;
   text-decoration: none;
   font-family: sans-serif;
   color: #C63904 
}

.TEIgi {
   text-decoration: none;
   color: #ff6600 
}

.WWPgi {
   text-decoration:none;
   color: green 
}

.small {
   font-size: small;
   font-family: "Arial";
   color: #9F9F9F 
}

.label {
   font-weight: bold;
 background-color: #AAAAAA;
}

tr.label td {
   font-weight: bold;
 background-color: #AAAAAA;
}

.breadcrumb{
   font-family: arial,sans-serif;
   color: #000066;
   font-weight : bold;
   font-size : 0.8em;
   text-decoration: none;
   padding-right : 5px;
}

span.toclist{
   font-size: smaller;
   font-family: sans-serif;
   font-weight: bold;
}

.skiplinks{
   font-family: arial, sans-serif;
   color: #ffffff;
   font-weight : bold;
   font-size : 0.8em;
   text-decoration: none;
   padding-right : 15px;
}

.tocontent{
   color : #000066;
   display : none;
}

.hide{
   display : none;
}

.framestdlink {
   color: red;
   font-size: smaller;
   font-weight: bold;
}

td.maintext p {
   font-family: sans-serif;
}

td.maintext {
   background-color: white;
   font-family: sans-serif;
   color: black;
   padding-left: 6pt;
   padding-right: 6pt;
}

table.wovenodd td,p.wovenodd {
   background-color: white;
}

pre {
   margin-left: 6pt;
   background-color: #FFFFCC;
}

pre.eg {
   background-color: #dddddd;
}


/* links */


a.inlinetoc:link,a.inlinetoc:visited
{
        color: #7a7a7a;
        font-size: smaller; 
        text-decoration: none;
}

a.inlinetoc-this:visited,a.inlinetoc-this:link
{	
        font-size: smaller; 
	color: black;
	font-weight: bold; 
        text-decoration: underline;
}

a.inlinetoc-sub:visited,a.inlinetoc-sub:link
{
   text-decoration: none;
   color: black;
   font-weight: normal;
   font-size: smaller; 
}

span.toclist{
        font-size: smaller; 
	font-family: sans-serif;
	font-weight: bold;
	}

p.toclist {
	  margin-left: 1em; 
	  margin-top: 1pt; 
	  margin-bottom: 2pt; 
	  text-indent: -1em;
	}

p.toclist-this {
	  margin-left: 1em; 
	  margin-top: 1pt; 
	  margin-bottom: 2pt; 
	  text-indent: -1em;
          font-size: small;	   
	  font-weight: bold ;
	  color: red;
	}

p.toclist-sub {
	  margin-left: 2em; 
	  margin-top: 1pt; 
	  margin-bottom: 2pt; 
	  text-indent: -1em
	}

a.toclist:visited,a.toclist:link
{
        font-size: small; 
	font-weight: bold; 
	color: black;
        text-decoration: none;
}

a.toclist-this:visited,a.toclist-this:link {  
        text-decoration: none;     
	font-weight: bold;
        color: #cc99cc;	 
	}

a.toclist-sub:visited ,a.toclist-sub:link
{
   text-decoration: none;
   color: #6600ff;       
   font-weight: bold; 
   font-size: small; 
}

/* notes */
div.noteHeading {
	  margin-top: 9pt;
	  border: 0;
	  border-top: 1pt;
	  border-style: solid;
	  padding-top: 6pt;
	  font-size: larger;
	  font-weight: bold;
	  }

div.note {
	  margin-left: 1em; 
	  margin-bottom: 2pt; 
	  text-indent: -1em;
}

/* images */
img.display {
	    margin-top: 10pt;
	    margin-bottom: 10pt;
	    display: block;
}
p.caption {
	  font-style: italic;
}
/* title page */
span.docTitle {
	      font-weight: bold;
}
span.docAuthor {
	      font-style: italic;
}
