div.from-body { display: none; }
div.annex { display: none; }
div.bibliography { display: none; }div.from-body { display: none; }

div.healthwarning {
	 text-align: center;
	 font-size: 1.3em;
	 color: red;
}