Source: tei-p5-doc
Section: web
Priority: optional
Maintainer: TEI Council <council@tei-c.org>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-p5-doc
Architecture: all
Depends:
Description: Text Encoding Initiative Guidelines
 Documentation for TEI P5
