body {
    font-family: MS Sans Serif, Arial, Helvetica, Sans Serif;
    margin-left: 5px;

}

div.footer {
   padding: 5px;
   text-align: left;
   border: 1px black solid;
}

div.validate
  {
   padding-left: 5px;
   padding-top: 5px;
   margin-top: 10px;
   border: 1px solid #CACACA; 
   background-color: #DDDDDD;
   white-space: pre;
   color: #000000;
  }

div.validateMessages
  {
    padding-left: 20px;
    padding-bottom: 5px;
  }

div.validateHeadlineError
  {
   font-size: large;
   font-weight: bold;
   color: #FF0000;	
  }

div.validateHeadline
  {
   font-size: large;
   font-weight: bold;
   color: #00FF00;	
  }

p.notamList
  {
   border: 1px solid #999999
     
  }

p.notamList table
  {
     background-color: #DEDEDE;
     width: 100%;
     border-collapse: collapse;
  }

p.notamList td.notamHeadline
  {
   font-size: large;
   font-weight: bold;
   padding-top: 4px;	
   padding-bottom: 4px;	
   padding-left: 4px;	
   background-color: #999999;
   color: #FFFFFF;
  }

p.notamList td.headline
  {
   border-top: 1px solid #999999;
   padding-left: 10px;
   margin: 0px;
  }
p.notamList td.message
  {
   margin: 0px;
   font-size: small;
   padding-left: 25px;
  }

p.notamList span.success td.headline, p.notamList span.success td.message
  {
   color: #007F15;
   background-color: #E6FFEA;
  }

p.notamList span.error td.headline, p.notamList span.error td.message
  {
   color: #666666;
   background-color: #FFA6A6;
  }


p.error
  {
   padding: 4px;
   margin-top: 10px;
   margin-bottom: 10px;
   color: #666666;
   background-color: #FFA6A6;
   border: 1px solid #999999
  }

p.success
  {
   padding: 4px;
   margin-top: 10px;
   margin-bottom: 10px;
   color: #007F15;
   background-color: #E6FFEA;
   border: 1px solid #82D991
  }

p.changeAddedElements
  {
   font-weight: bold;
   padding: 4px;
   margin-top: 10px;
   margin-bottom: 10px;
   color: #000000;
  }

p.changeAddedAttributes
  {
   font-weight: bold;
   padding: 4px;
   margin-top: 10px;
   margin-bottom: 10px;
   color: #000000;
  }

p.roma
 {
   color: #000000;
 }

p.author
 {
   color: #000000;
   margin-top: 0px;
   margin-bottom: 0px;
   font-size: 9pt;
 }

p.author a
  {
   color: #000000;
   font-size: 9pt;
  }

a.downloadSchema
  {
   text-decoration: none;
  }

a.action {
   font-weight: bold;
   text-decoration: underline;
}
a.display {
   text-decoration: underline;
   color: blue;
}
h1
 {
   margin-left: 100px;
   margin-bottom: 0px;
 }

td
  {
   padding-left: 2px;
   padding-right: 2px;
   empty-cells: show;
   vertical-align: top;
  }

td.selectedModulesBox
  {
    vertical-align: top;
    text-align: right;
  }


form table td
  {
    color: #000000;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
  }

form table td a
  {
    color: #333333;
  }

form table td.formlabel
  {
    width: 120px;
    vertical-align: middle;
    font-weight: bold;
  }

form table td.formlabeltop
  {
    width: 120px;
    vertical-align: top;
    padding-top: 5pt;
    font-weight: bold;
  }

form table td.formfield
  {
    width: 80px;
    vertical-align: middle;
    padding-left:5px;
 }

form table tr.error td
  {
    background-color: #FFa6a6;
    color: #000000;
    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-left: 2pt;

  }

table tr.notAdded td
  {
    background-color: #FFEEEE;
    color: #000000;
    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-left: 2pt;

  }

form table.noBorder
  {
    background-color: #DDDDFF;
  }

form table td.headline, p.headline
  {
    background-color: #2468Ab;
    color: #FFFFFF;
    padding-top: 2pt;
    padding-bottom: 4pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 4pt;
  }

form table td.spacer
  {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }

form table tr.header td
  {
    background-color: #9AAbCF;
    font-weight: bolder;
  }

form table td.button
  {
    padding-top:15pt;
    vertical-align: bottom;
    text-align: left;
  }


div.descriptionPopup
  {
    visibility: hidden;
    position: absolute;
    width: 300;
    height: auto;
    top: 0px;
    left: 0px;
    background-color: white;
    padding-top: 3pt;
    padding-bottom: 3pt;
    padding-left: 8pt;
    padding-right: 8pt;
    border: 1px solid #999999
  }

#Pgb {
    visibility: hidden;
 }

table.pgbLayout {
  border-width: 0px;
  border-collapse: collapse;
  width: 50%;
}

table.pgbLayout td {
  padding: 0px;
}

table.pgbMain {
  background-color: #2468Ab;
  border-width: 0px;
  border-collapse: collapse;
  height: 11px;
}

#addedElementsSpan
  {
    cursor: pointer;
  }

#addedAttributesSpan
  {
    cursor: pointer;
  }

div.addedElementsPopup
  {
    visibility: hidden;
    position: absolute;
    width: 200;
    height: auto;
    border: 1px solid #999999
  }


div.addedElementsPopup table
  {
    border-spacing: 0px;
    border-collapse: collapse;
    
  }

div.addedElementsPopup tr.headline td
  {
    width: 100%;
    margin-left: 0pt;
    margin-right: 0pt;
    margin:0pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
    padding: 0pt;
    padding-left:2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    background-color: #2468Ab;
    color: #FFFFFF;
    padding-top: 2pt;
    cursor: text;
    border: 0;
  }

div.addedElementsPopup tr.headline td.exit
  {
    width: auto;
    text-align: right;
    cursor: pointer;
  }

div.addedElementsPopup td
  {
    background-color: #6666EF;
    color: #000000; 
   padding-left: 1pt;
    padding-top: 2pt;
    padding-bottom: 1pt;
    border-top: 1px solid #EFEFEF
  }

div.addedElementsPopup td a
  {
    color: #000000; 
    text-decoration: none;
  }

div.classes
  {
   background-color: #DDDDFF;
  }

div.classes a
  {
    text-decoration: none;
    color: #000000;
  }

span.class { 
   background-color: #DDDDFF;
   float: left; 
   width: 250px; 
   text-align: left; 
   }


input, select, textarea
  {
    border: 1px solid black;
    background-color: white;
    color: #000000;
  }

input.submit {
    color: white;
    border: 1px solid black;
    background-color: #dd0000;
}

td.button input
  {
    cursor: pointer;
  }

input.checkbox, input.radio
  {
    border: 0px;
    margin-right: 4px;
    margin-left: 4px;
    background-color:  #DD0000; 
  }


tr.error input.checkbox, tr.error input.radio
  {
    background-color: #FFa6a6;
  }


div.navbar{
 color: white;
 border-bottom: solid black 1pt;
   font-weight: bold;
   padding-left : 15px;
   padding-top : 2px;
   padding-right : 5px;
   font-size: smaller;

}
span.navbar_selected{
  margin-right: 12pt;
  border: solid red 2pt;
  padding: 2px;
  padding-bottom: 0px;
  background-color: #0082EF;
}

 a.navbar {
 color: white;
 }
span.navbar {
   padding: 2px;
   padding-bottom: 0px;
   margin-right: 12pt;
   border: solid black 1pt;     
   background-color: #0082EF;
}

div.help {
  margin-top: 6pt;
  margin-bottom: 6pt;
  border: 1pt solid blue;
}
#hdr {
   width: auto;
   margin: 0px;
   padding-top: 1pt;
   padding-bottom: 1pt;
   border-width: 0px;
   background: url("/logos/TEI-glow.png");
   background-repeat: no-repeat;
   overflow: inherit
}

span.helpMe {
   font-weight: bold;
   border: 1pt solid green;
   background-color: orange;
}

ul.inputList li {
	     list-style: none;
	     margin-bottom: 20pt;
}