/* teislides.css */

.slide { }

body
{
    background: white;
    font-family: Garamond;
    font-size: 18pt; 
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

h1.maintitle {
  color:red;
  font-size: 24pt;
  text-align: center;
}

h1.slidetitle {
    color:red;
    font-size: 22pt;
    text-align: left;
}

pre.eg {
    background: yellow;
    padding: 6pt;
    font-style: roman;
    font-size: 16pt;
    color: blue
    margin-left: 1em;
    margin-top: 6pt;
    border-style: inset
}

div.docAuthor {
    text-align: right;
    font-size:24pt
    color: green;
}

div.docDate {
    text-align: right;
    font-size:24pt
    color: blue;
}

hr.topbar {color: green}

hr.bottombar {color: blue}

tr,p,ul,ol,li {
    font-size: 18pt;
    }
p.box {
    background: blue; color: white ;
    padding: 10pt;
    margin-left: 5%;
    font-size: 18pt;
    text-align: right;
    font-style: bold;
    margin-right: 5%;
    margin-top: 12pt;
    border-style: outset;
}


td
{
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

pre, code, tt
{
    font-family:  monospace;
    color: black;
    font-size: 16pt;
}

tt.url {
    font-family:  sans-serif;
    }


h2 {    margin-top: 18pt;
    font-size: 25pt;
    font-family: serif;
    color: green;
    background: white;
        text-align: center;
    border-width: 5pt;
    border-color: white;
    padding: 0pt;
    margin: 0pt;
    }


ul,dl,ol {     font-style: italic;
    font-size: 18pt;
     }

li.lower {     font-style: normal; }



blockquote
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
/*    color: gray; */
    color: teal;
    text-align: justify;
    font-size: smaller;
}

address
{
    font-style:  normal;
    font-family: cursive;
    letter-spacing: .1em;
    font-size: x-small;
}

a:link
{
    color:  blue;
}


a:visited
{
    color:  navy;
}


a:active
{
    color:  purple;
    background: yellow;
}


a:hover
{
    color:  blue;
    background:     silver;
}

.titlebar
{
    color: white;
    background: navy;
}


/* */
