<plugin>
	<extension plugin-id="pl.psnc.dl.ege.root" point-id="XslConverter" id="MarkDowntoTEIconverter">
		<parameter id="class" value="pl.psnc.dl.ege.MultiXslConverter"/>
		<parameter id="name" value="MarkDown to TEI"/>
		<parameter id="xsluri" value="profiles/default/markdown/from.xsl" />
		<parameter id="iMimeType" value="text/plain" />
		<parameter id="iFormat" value="markdown" />
		<parameter id="iDescription" value="Markdown tagging" />
		<parameter id="iType" value="text" />		
		<parameter id="oMimeType" value="text/xml" />
		<parameter id="oFormat" value="TEI" />
		<parameter id="oDescription" value="TEI P5 XML Document" />		
		<parameter id="oType" value="text" />
		<parameter id="visibility" value="true" />
		<parameter id="cost" value="9" />
	</extension>
	<extension plugin-id="pl.psnc.dl.ege.root" point-id="XslConverter" id="TEItoMarkDownconverter">
		<parameter id="class" value="pl.psnc.dl.ege.MultiXslConverter"/>
		<parameter id="name" value="TEI to MarkDown"/>
		<parameter id="xsluri" value="profiles/default/markdown/to.xsl" />
		<parameter id="iMimeType" value="text/xml" />
		<parameter id="iFormat" value="TEI" />
		<parameter id="iDescription" value="TEI P5 XML Document" />
		<parameter id="iType" value="text" />		
		<parameter id="oMimeType" value="text/plain" />
		<parameter id="oFormat" value="markdown" />
		<parameter id="oDescription" value="Markdown tagging" />		
		<parameter id="oType" value="text" />
		<parameter id="visibility" value="true" />
		<parameter id="cost" value="11" />
	</extension>
</plugin>
