Source: tei-p5-source
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@it.ox.ac.uk>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-p5-source
Architecture: all
Depends: tei-p5-xsl2
Description: Text Encoding Initiative Sources/DTDs
      ODD Source for TEI P5
