local.mk
repodate.xml

Exemplars/isofs.xsl
Exemplars/oNVDL/
oNVDL/

Schema/*
DTD/*
Guidelines-web/*
Test/*

P5subset*
*.stamp
anything
p5.isosch*
p5.xml
p5attlist.txt

p5odds-examples.rn*
p5odds.isosch*
p5odds.rn*
p5odds.mess*

p5examples*
Utilities/guidelines.xsl
stripspace*
