local.mk
repodate.xml

Exemplars/isofs.xsl
Exemplars/oNVDL/
oNVDL/

Schema/*
DTD/*
Guidelines-web/*

P5subset*
*.stamp
anything
p5.isosch*
p5.xml
p5attlist.txt

p5odds-examples.rn*
p5odds.isosch*
p5odds.rn*
p5odds.mess*

p5examples*
Utilities/guidelines.xsl
stripspace*

Test/**.processed
Test/detest.*
!Test/detest.odd
!Test/detest.xml

Test/tei.xsd
Test/testall*
!Test/testall.odd
!Test/testall.xml

Test/testbare.*
!Test/testbare.odd
!Test/testbare.xml

Test/testbasic*
!Test/testbasic.odd
!Test/testbasic.xml

Test/testjustfs*
!Test/testjustfs.odd
!Test/testjustfs.xml

Test/testp4compat*
!Test/testp4compat.odd
!Test/testp4compat.xml

Test/testplace-kml*
!Test/testplace-kml.odd
!Test/testplace-kml.xml

Test/testplus.*
!Test/testplus.odd
!Test/testplus.xml

Test/xml.xsd
