Source: tei-xsl
Section: web
Priority: optional
Maintainer: Sebastian Rahtz <sebastian.rahtz@it.ox.ac.uk>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.9.1

Package: tei-xsl
Architecture: all
Depends: ant,ant-contrib,libsaxonhe-java
Conflicts: tei-xsl-common, tei-p5-xsl ,tei-p5-xsl2,tei-p5-xslprofiles
Replaces: tei-xsl-common, tei-p5-xsl ,tei-p5-xsl2,tei-p5-xslprofiles
Description: Text Encoding Initiative XSLT (2.0) stylesheets (P5)
 Stylesheets (XSLT 2.0) for TEI P5
