<plugin>
	<extension plugin-id="pl.psnc.dl.ege.root" point-id="XslConverter" id="CSVtoTEIconverter">
		<parameter id="class" value="pl.psnc.dl.ege.MultiXslConverter"/>
		<parameter id="name" value="CSV to TEI"/>
		<parameter id="xsluri" value="profiles/default/csv/from.xsl" />
		<parameter id="iMimeType" value="text/csv" />
		<parameter id="iFormat" value="csv" />
		<parameter id="iDescription" value="Comma-Separated Values (.csv)" />
		<parameter id="iType" value="spreadsheet" />		
		<parameter id="oMimeType" value="text/xml" />
		<parameter id="oFormat" value="TEI" />
		<parameter id="oDescription" value="TEI P5 XML Document" />		
		<parameter id="oType" value="text" />
		<parameter id="visibility" value="true" />
		<parameter id="cost" value="9" />
	</extension>
	<extension plugin-id="pl.psnc.dl.ege.root" point-id="XslConverter" id="TEItoCSVconverter">
		<parameter id="class" value="pl.psnc.dl.ege.MultiXslConverter"/>
		<parameter id="name" value="TEI to CSV"/>
		<parameter id="xsluri" value="profiles/default/csv/to.xsl" />
		<parameter id="iMimeType" value="text/xml" />
		<parameter id="iFormat" value="TEI" />
		<parameter id="iDescription" value="TEI P5 XML Document" />
		<parameter id="iType" value="text" />		
		<parameter id="oMimeType" value="text/csv" />
		<parameter id="oFormat" value="csv" />
		<parameter id="oDescription" value="Comma-Separated Values (.csv)" />		
		<parameter id="oType" value="spreadsheet" />
		<parameter id="visibility" value="true" />
		<parameter id="cost" value="11" />
	</extension>
</plugin>
