@import url("stylesheet.css");

div.miniTOC { display: none;}
#banner { display: none;}
#udm { display: none;}
span.bookmarklink {display: none;}
body{   
    font-family: sans-serif; 
    font-size: 1em;
}

pre,div.pre,div.pre_eg,pre.eg,div.eg {
    font-size: 1em;
}

li.tocTree ul {
}
.tocHide {
}
