/* tables for reference display 

$Id$

This software is dual-licensed:

1. Distributed under a Creative Commons Attribution-ShareAlike 3.0
Unported License http://creativecommons.org/licenses/by-sa/3.0/ 

2. http://www.opensource.org/licenses/BSD-2-Clause
		
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

* Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright
notice, this list of conditions and the following disclaimer in the
documentation and/or other materials provided with the distribution.

This software is provided by the copyright holders and contributors
"as is" and any express or implied warranties, including, but not
limited to, the implied warranties of merchantability and fitness for
a particular purpose are disclaimed. In no event shall the copyright
holder or contributors be liable for any direct, indirect, incidental,
special, exemplary, or consequential damages (including, but not
limited to, procurement of substitute goods or services; loss of use,
data, or profits; or business interruption) however caused and on any
theory of liability, whether in contract, strict liability, or tort
(including negligence or otherwise) arising in any way out of the use
of this software, even if advised of the possibility of such damage.

*/
table.wovenodd {
    width: 100%;
    clear: both;
}
td.wovenodd-col1 {
    width:15%;
    vertical-align: top;
}
td.wovenodd-col2 {
    width:85%;
}
table.wovenodd tr td {
    border: 1px solid #555;
    padding:1%;
}
table.wovenodd {
    border-spacing:0px;
    border-collapse:collapse;
}
table.wovenodd tr td {
    border-spacing:0px;
}
table.wovenodd tr {
    border-spacing:0px;
    border-collapse:collapse;
}
table.wovenodd tr td table.attList {
    border-spacing:0px;
    border:none;
}
table.wovenodd tr td table.attList tr {
    border-spacing:0px;
    border:none;
}
table.wovenodd tr td table.attList tr td {
    border-spacing:0px;
    border:none;
}
table.attList {
    table-layout: fixed;
    width: 100%;
    margin: 0pt;
    padding: 0pt;
}
td.odd_label {
    vertical-align: top;
    width: 10%;
    font-weight: bold;
}
td.odd_value {
    vertical-align: top;
    width: 90%;
}
table.attDef {
    table-layout: fixed;
    width: 100%;
}
table.attDef td.odd_label {
    width: 10%;
    vertical-align: top;
    font-weight: normal;
}
table.attDef td.odd_value {
    vertical-align: top;
    width: 90%;
}
table.attList  td.odd_label:before {
    content: "@";
}
table.attDef  td.odd_label:before {
    content: "";
}
table.valList  td.odd_label:before {
    content: "";
}
table.valList {
    table-layout: fixed;
    width: 100%;
}
table.valList td.odd_label {
    width: 10%;
    vertical-align: top;
    font-style: normal;
    font-weight: normal;
}
table.valList td.odd_value {
    vertical-align: top;
    width: 90%;
}
table.specDesc td.Attribute {
    font-weight: bold;
    vertical-align: top;
}
table.specDesc {
    margin-left: 1em;
}
td p {
    margin-top: 0pt;
    margin-bottom: 2pt;
}

div.cdata {
    white-space: pre;
    clear:both;
}
span.tag:before {
     
}
span.tag:after {
     
}
span.gi,span.tag {
}
span.att {
     
}
span.att:before {
    content: "@";
}
span.ident, 
span.ident-class, span.ident-datatype, span.ident-frag,
span.ident-ge,    span.ident-macro,    span.ident-module,
span.ident-pe,    span.ident-rng,      span.ident-schema  {
    font-weight: bold;
}

span.ident-file, span.ident-ns {
    font-style: italic;
}

button.displayRelaxButton {
    margin-right: 2px;
    margin-top: 2px;
    font-size: 70%;
    float: right;
    cursor: pointer;
}
pre.RNG_XML {
	    display: none;
	    }

span.RNG_XML {
	    display: none;
	    }

/* pretty printing of XML */
td.classSpec, td.macroSpec {
    font-weight: bold;
}
a.link_odd_element:link,a.link_odd_element:visited {		   
    /*     color: #006400; */
}
a.link_odd_macro:link,a.link_odd_macro:visited {

}
a.link_odd_class:link,a.link_odd_class:visited {

}
span.element {
    font-weight: bold;
    color: black;
}
td.elementSpec,span.elementname {
    font-weight: bold;
    color: #222288;
}
span.highlightelementname {
    color: red;
}

span.attribute {
    color: #222288;
}
span.attributevalue {
    color: black;
}
span.comment {
    color: black;
    font-style:italic;
}
span.namespace {
    color: #222288;
}
/* pretty print rnc */
span.rnc_nc {
    color: #006400;
}
span.rnc_decl {
    color: green;
}
span.rnc_prefix {
    color: blue;
}
span.rnc_param {
    color: gray;
}
span.rnc_atom {
    color: yellow;
}
span.rnc_annot {
    color: #FF8040;
}
span.rnc_comment {
    color: #FF00FF;
}
span.rnc_annot {
    color: #00FFFF;
}
span.rnc_type {
    color: purple;
}
span.rnc_keyword {
    color: teal;
}
span.defaultVal {
    font-weight: bold;
}
span.required {
    font-weight: bold;
}
div.moduleSpec {
    padding: 1px;
    margin: 1px;
    background-color: #C0C0C0;
    color:inherit;
    clear:right;
}
span.moduleSpecHead {
    font-style: italic;
}
ul.specList li {
    list-style: none;
}
span.specList-macroSpec {
    font-weight: bold;
}
span.specList-elementSpec {
    font-weight: bold;
}
span.specList-elementSpec:before {
    content: "<";
     
}
span.specList-elementSpec:after {
    content: ">";
     
}
span.specList-classSpec {
    font-weight: bold;
}
span.specName {
    color: #223377;
    font-weight: bold;
}
/* A -Z Styles From http://www.smileycat.com/miaow/archives/000211.php -styling the a to z */
#azindex {
    background-color: #ddd;
    color:inherit;
    display: block;
    margin: 0px;
    float: left;
    padding: 5px;
    width: 75%;
    border: 1px solid #999;
}
#azindex p {
    color: #fff;
    background-color: #000060;
    padding: 4px;
    display: block;
    margin: 0;
    border-bottom: 1px solid #333;
    font-size: 0.95em;
}
.index {
    font: bold 100% Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.index li {
    float: left;
    height: 1.5em;
    list-style-type: none;
    margin: 0.35em 0.15em;
    padding: 0;
    width: 1.5em;
}
.index a:link, .index a:visited {
    background: #fff;
    color: navy;
    display: block;
    height: 1.5em;
    padding: 0.37em 0 0 0;
    text-align: center;
    text-decoration: none;
    width: 1.5em;
    border: 1px solid #999;
}
li.showall, li.showall a:visited,li.showall a:link {
    width: 10em;
}
* html .index li {
    margin: 0.2em 0.2em;
}
ul.index li a:hover {
    background-color: #93D1E4;
    color: #fff;
    text-decoration: underline;
}
div.atozwrapper {
   float: left;
   width: 70%;
}
div.atoz {    
   clear: left;
   float: left;
}    
#byMod {
   margin-top: 12px;
   clear: left;
}
ul.atoz {
    list-style: none;
    text-align:left;
    margin: 2px;
    padding: 2px;
    background-color: #eef;
    color:inherit;
}
.atoz li {
    padding: 0px;
    display: inline;
}
span.listhead {
    margin-top: 0em;
    margin-right: 1em;
    padding-left: 3px;
    padding-right: 3px;
    color: #000066;
    font-weight: bold;
    font-size: large;
}
/* End of A - Z styles */
div.specChildren {
    margin: 0em;
    padding: 0em;
}
span.specChildModule {
    font-weight: bold;
}
div.specChild {
    margin-bottom: 4pt;
    margin-left: 25px;
    text-indent: -30px;
}
span.emptySlash:after {
    content: "/";
}

/* for ePub */
div.EpubCoverPage {
    -webkit-hyphens:none;
    font-family: serif; 
    height:860;          
    font-size:30pt; 
    font-weight: bold;
    padding-top: 15pt;
    margin: 12pt;
    border: solid red 1pt; 
    text-align:center;
   }
