div {
  line-height: 1.5;
  margin-top: 1em;
  text-align: justify;
}

div.gap {
  margin-top: 2em;
  margin-bottom: 2em;
}

div.transcription {
  margin-left: 4em;
  margin-right: 8em;
}

span.abbr-fn {
  border-top: 1px solid black;
}

span.abbr-ns {
  border-top: 1px solid black;
}

span.bk {
  padding-right: 1em;
  position: absolute;
  top: auto;
  right: 0;
}

span.ch {
  position: absolute;
  top: auto;
  right: 4em;
}

span.default {
  color: #900;
  text-decoration: blink;
}

span.italic {
  font-style: italic;
}

span.lb {
  position: absolute;
  top: auto;
  left: 1em;
}

span.superscript {
  font-size: 80%;
  line-height: 80%;
  vertical-align: super;
}

span.supplied {
  color: #CCC;
}

span.unclear-doubtful {
  border-bottom: 1px dotted;
}

span.unclear-unread {
  border-bottom: 1px dotted;
}

span.vs {
  position: absolute;
  top: auto;
  right: 1em;
}
