/******************************
/* Main HTML tags             *
/******************************/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: white;
	color: black;
	margin: 0;
	padding: 0;
	margin-bottom: 800px;
	font-size: 14px;
}

a:link, a:visited, a:hover {
	color: #0F0F84;
	text-decoration: none;
}

a:hover {
	color: #5858ED;
}

h1, h2, h3, h4, h5, h6 {
	text-align:left;
}

h1 {
  font-weight: bold;
	font-size: 24px;
}

h2 {
  font-weight: bold;
	font-size: 18px;
}

h3 {
  font-weight: bold;
	font-size: 14px;
	margin-left: 5px;
}

/******************************
/* Layout Divs                *
/******************************/
#navbar {
	background-color: #eeeeff;
	border: 1px solid #CDCDCD;
	text-align: center;
	margin: 4px;
	padding: 3px 10px 3px 10px;
}

#menuLinks {
	margin: 0;
	padding: 0;
	text-align: center;
}

#content {
	margin: 0 20px 0 20px;
	padding: 3px 10px 3px 10px;
	/*border: 1px solid #CDCDCD;*/
}

#footer {
  background-color: #eeeeff;
	border: 1px solid #CDCDCD;
	text-align: center;
	margin: 20px 4px 4px 4px;
	padding: 3px 10px 3px 10px;
}

/******************************
/* Component Divs             *
/******************************/
#stylesheetDetail {
  margin: 0;
  padding: 0;
}

#includes {
	margin: 10px 0px 10px 0px;
}

#imports {
	margin: 10px 0px 10px 0px;
}

#includes h2, #imports h2 {
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}

#includes ul, #imports ul {
	margin-top: 4px;
}

#namedTemplatesSummary, #functionsSummary, #matchTemplatesSummary, #parametersSummary {
	border-top: 1px solid #333399;
  border-left: 1px solid #333399;
  border-right: 1px solid #333399;
	margin: 20px 0px 0 0px;
	padding: 0px;
}

#namedTemplatesDetail, #functionsDetail, #matchTemplatesDetail, #parametersDetail {
  border-top: 1px solid #333399;
  border-left: 1px solid #333399;
  border-right: 1px solid #333399;
	margin: 20px 0px 0 0px;
	padding: 0px;
}

#namedTemplatesSummary h2,
#functionsSummary  h2, 
#matchTemplatesSummary  h2,
#namedTemplatesDetail  h2, 
#functionsDetail  h2, 
#matchTemplatesDetail h2,
#parametersSummary h2,
#parametersDetail h2 {
	background-color: #eeeeff;
	border-bottom: 1px solid #333399;
	margin: 0px;
	padding: 3px 3px 3px 3px;
}

a.menuLink:link, a.menuLink:visited, a.menuLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0 10px 0 10px;
	color: #0F0F84;
	text-decoration: none;
	font-weight: bold;
}

a.menuLink:hover {
	color: #5858ED;
}

a.menuLinkCurrent:link, a.menuLinkCurrent:visited, a.menuLinkCurrent:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0 10px 0 10px;
	color: #0F0F84;
	text-decoration: underline;
	font-weight: bold;
}

a.menuLinkCurrent:hover {
	color: #5858ED;
}

a.sourceLink:link, a.sourceLink:visited, a.sourceLink:hover {
  font-family: "Courier New", Courier, monospace;
	color: #0F0F84;
	text-decoration: none;
	font-weight: bold;
}

a.sourceLink:hover {
	color: #5858ED;
}

/******************************
/* class styles               *
/******************************/

div.property {
  margin-top: 10px;
  margin-left: 20px;
}

div.propertyCaption {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0px;
}
div.propertyContent {
  margin-left: 10px;
  margin-top: 0px;
}

div.listItem {
  margin: 0;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #333399;
}

p.shortDescr, p.detailDescr {
  font-size: 14px;
  margin: 3px 0px 0px 20px;
	padding: 0;
}

p.detailDescr {
	margin-top: 3px;
}

/*div.listItem p.shortDescr {
  margin: 3px 0px 0px 20px;
	padding: 0;
}*/

.paramName, .paramType, .paramValue, .declCaption {
  font-family: "Courier New", Courier, monospace;
}

.declCaption {
  font-weight: bold;
}

.declName {
  font-weight: bold;
}

.detailDoc {
  margin-left: 20px;
}

.shortDoc {
  margin-left: 20px;
}

.declLink {}

div.declaration {
  margin: 0;
  padding: 0;
}

.detailAttribute { 
  font-style:italic 
}
.detailDeclaration { 
  font-weight: bold 
}
.detailAttrDesc {
	margin-left: 20px;
	margin-top: 0px;
}

ul {
	list-style-type: square;
}

td.underlined {
	border-bottom-width: 1px;
	border-bottom-style: solid; 
	border-bottom-color: #D2D2D2;
}

div.source {
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  border: 1px solid #999;
  color:black;
  padding: 12px;
  margin: 2pt 5pt 10pt 5pt;
}

div.source pre {
  color:black;
  margin: 0px;
  padding: 0px;
}


