/* teislides.css */

.slide { }

body
{
    background: white;
    font-family: Garamond;
    font-size: 18pt; 
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}


code.keycap {
    font-family:  monospace;
    color: black;
}

code.cua {
    font-family:  monospace;
  color:red;
}



/* */
